/* BOXES MAS CERCANOS */
.contenedor-principal .adhesion section.content{
    padding: 20px;
    width: 810px;
}

.contenedor-principal .adhesion .destacado {
    background: url("./assets/destacado-adhesion-completo.jpg") center top no-repeat;
    padding-top: 36px;
}

.contenedor-principal .adhesion section.content legend{
    text-transform: uppercase;
    line-height: 30px;
    border-bottom: 4px solid #ddd;
    margin-bottom: 40px;
}

.contenedor-principal .adhesion section.content-container input[type=text],
.contenedor-principal .adhesion section.content-container input[type=password]{
	border: 1px solid #dcdcdc;
	padding: 0 5px;
	height: 32px;
}

.contenedor-principal .adhesion section.content-container input[type=text]{
    width: 410px;
}

.row.password-cont{
	background: #f8f8f8;
	padding:30px 20px 10px;
	width: 380px;
}

.row.password-cont input{
	width: 370px;
}

.captcha-cont label{
	display: inline-block;
	line-height: 34px;
}

.captcha-cont img{
	border: 3px solid #dcdcdc;
	display: inline-block;
	vertical-align: middle;
	margin-left: 37px;
}

.captcha-text label{
	display: inline-block;
}

.captcha-text input{
	width: 158px!important;
	margin-left: 12px;
	display: inline-block;
	vertical-align: top;
}

.contenedor-principal .adhesion section.content-container input[type=submit]{
    width: 380px;
    border: 3px solid #0f6ac5;
    background: #fff;
    color: #0f6ac5;
    display: inline-block;
    background: url(./assets/ic-submit.png) 200px center no-repeat;
    padding-left: 152px;
}