/* BOXES MAS CERCANOS */

.contenedor-principal .adhesion-completa section.content{
    padding: 0 20px 20px;
    width: 810px;
}

.contenedor-principal .adhesion-completa .destacado {
    background: url("./assets/destacados-formularios.jpg") center top no-repeat;
    padding-top: 36px;
}

.contenedor-principal .adhesion-completa section.content h3{
    text-transform: uppercase;
    line-height: 22px;
    border-bottom: 4px solid #ddd;
    margin-bottom: 40px;
    font-size: 15px;
    color: #4f4f4f;
    padding-bottom: 20px;
}

.contenedor-principal .adhesion-completa section.content .row{
    margin-bottom: 20px;
}

.contenedor-principal .adhesion-completa section.content label,
.contenedor-principal .adhesion-completa section.content span.label{
    color: #0f6ac5;
    font-size: 13px;
    line-height: 32px;
    font-family: "din-medium";
    display: inline-block;
    width: 138px;
}

.contenedor-principal .adhesion-completa section.content-container input[type=text],
.contenedor-principal .adhesion-completa section.content-container input[type=password]{
	border: 1px solid #dcdcdc;
	padding: 0 5px;
	height: 32px;
}

.contenedor-principal .adhesion-completa section.content-container input[type=text]{
    width: 450px;
}

.adhesion-completa section.content-container .fecha-nacimiento select#day{
	width: 75px;
}

.adhesion-completa section.content-container .fecha-nacimiento select#month{
	width: 135px;
}

.adhesion-completa section.content-container .fecha-nacimiento select#year{
	width: 85px;
}

.adhesion-completa section.content-container #month-button,
.adhesion-completa section.content-container #day-button,
.adhesion-completa section.content-container #type-button{
	margin-right: 7px;
}

.adhesion-completa section.content-container .row.dni select{
	width: 185px;
}

.adhesion-completa section.content-container .row.dni input[type=text]{
	width: 113px;
}

.adhesion-completa section.content-container .row.radiobuttons label{
	width: 70px;
}

.adhesion-completa section.content-container .row.radiobuttons input[type=radio]{
	margin-right: 30px;
}

.adhesion-completa section.content-container .row.address-info input[type=text]{
	margin-right: 15px;
}

.adhesion-completa section.content-container .row.address-info input.number{
	width: 112px;
}

.adhesion-completa section.content-container .row.address-info input.piso{
	width: 160px;
}

.adhesion-completa section.content-container .row.address-info input.apart{
	width: 118px;
}

.adhesion-completa section.content-container .row.provincia select,
.adhesion-completa section.content-container .row.marca select,
.adhesion-completa section.content-container .row.modelo select{
	width: 318px;
}

.adhesion-completa section.content-container .row.localidad input#localidad,
.adhesion-completa section.content-container .row.telefono-fijo input#codigo-de-area{
	width: 160px;
	margin-right: 15px;
}

.adhesion-completa section.content-container .row.localidad input#codigo-postal,
.adhesion-completa section.content-container .row.telefono-fijo input#numeroFijo{
	width: 118px;
}

.adhesion-completa section.content-container .row.telefono-movil input#codigo-de-area-movil,
.adhesion-completa section.content-container .row.telefono-movil input#numeroMovil{
	margin-right: 15px;
}

.adhesion-completa section.content-container .row.telefono-movil input#codigo-de-area-movil{
	width: 70px;
}

.adhesion-completa section.content-container .row.telefono-movil input#numeroMovil{
	width: 80px;
}

.adhesion-completa section.content-container .row.telefono-movil select{
	width: 108px;
}

.adhesion-completa section.content-container #yearCar-button{
	margin-right: 15px;
}

.adhesion-completa section.content-container .row select#yearCar,
.adhesion-completa section.content-container .row select#model{
	width: 149px;
}

.adhesion-completa section.content-container .row.checkboxCont{
	overflow: hidden;
}

.adhesion-completa section.content-container .row.checkboxCont label{
	color: #b9b9b9;
	width: 440px;
	line-height: 18px;
	margin-left: 10px;
}

.adhesion-completa section.content-container .row.checkboxCont input[type=checkbox],
.adhesion-completa section.content-container .row.checkboxCont label{
	float: left;
}

.adhesion-completa section.content-container .row.checkboxCont input[type=checkbox]{
	margin-top: 5px;
}

.contenedor-principal .adhesion-completa section.content-container input[type=submit]{
    width: 462px;
    border: 3px solid #0f6ac5;
    background: #fff;
    color: #0f6ac5;
    display: inline-block;
    background: url(./assets/ic-submit.png) 260px center no-repeat;
    padding-left: 186px;
    text-align: left;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
}