/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/

.destacado{
	margin-bottom: 20px;
}

.destacado > div{
	position: relative;
	height: 266px;
}

.destacado p{
	width: 600px;
	padding: 20px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	line-height: 16px;
}

.destacado p span{
	font-family: "din-black";
}

.lt-ie10 .destacado p span{
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
}

/* modulos */


/*
 * modulos
*/

.modulos article .info{
	background-color: #fff;
	padding: 16px 16px 50px 16px;
	position: relative;
	width: auto;
	border-bottom: 2px solid #b2d235;
	border-right: 2px solid #b2d235;
}

.modulos article .info h4{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 27px;
	line-height: 30px;
	margin-bottom: 15px;
	color: #b2d235;
}

.modulos article .info p{
	font-size: 13px;
	line-height: 18px;
	width: auto;
}

.modulos article .info a.ver-mas{
	background-color: #00afa2;
	border-radius: 3px;
	color: #fff;
	padding: 0 5px;
	font-size: 11px;
	position: absolute;
	left: 16px;
	bottom: 20px;
}

.modulos article .info a.ver-mas:hover{
	background-color: #b2d235;
}




.modulos .bloqueInf{
	margin-top: 15px;
}

.modulos .bloqueInf .info{
	position: relative;
	padding-right: 0;
	padding-bottom: 16px;
	height: 269px;
}

.modulos .bloqueInf .colIzq{
	width: 445px;
	float: left;
	margin-right: 20px;
}

.modulos .bloqueInf .colDer{
	width: 459px;
	position: absolute;
	top: 0;
	right: -2px;
	bottom: 0;
}
