/* BOXES MAS CERCANOS */
.contenedor-principal .boxes-mas-cercanos section.content{
    background: #f8f8f8;
    padding: 20px;
    width: 810px;
}

.contenedor-principal .boxes-mas-cercanos .destacado {
    background: url("./assets/destacados-turnos.jpg") center top no-repeat;
    padding-top: 36px;
}

.contenedor-principal .boxes-mas-cercanos section.content h3{
    margin-bottom: 24px;
}

.contenedor-principal .boxes-mas-cercanos section.content-container form.busqueda-boxes input[type=submit]{
    width: 262px;
}

.contenedor-principal .boxes-mas-cercanos section.content-container .resultado-busqueda > a{
    width: 350px;
}


.contenedor-principal .boxes-mas-cercanos section.content-container .resultado-busqueda > a{
    margin-top: 30px;
}
