/*Calendario*/

.calendario{
    margin-top: 15px;
}

.meses-container{
    background: #0063be;
    overflow: hidden;
    position: relative;
}


.meses-container p{
    color: #fff;
    font-family: "din-black";
    font-size: 30px;
    line-height: 56px;
    text-transform: uppercase;
    margin-left: 45px;
}

.meses-container p span.ano{
    font-family: "din-light";
}

.meses-container a.arrows{
    display: block;
    position: absolute;
    background: url("./assets/arrows-carousel.png") no-repeat;
    width: 20px;
    height: 36px;
    top: 50%;
    margin-top: -18px;
    overflow: hidden;
    text-indent: -9999px;
}

.meses-container a.arrows.prev{
    background-position: left top;
    left: 8px;
}

.meses-container a.arrows.next{
    background-position: right top;
    right: 8px;
}

.filter-container{
    background: #014788;
    padding: 0 10px;
    margin: 0 0 14px;
    position: relative;
	z-index: 60;
}

.filter-container > p,
.filter-container > ul,
.filter-container li{
    float: left;
}

.filter-container > p{
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 6px;
    font-family: "din-light";
    font-size: 13px;
}

.filter-container > ul{
    margin-top: 10px;
}

.filter-container li a{
    color: #fff;
    text-transform: uppercase;
    background: url("./assets/sp-checkbox-filters.png") 0 1px no-repeat;
    display: inline-block;
    padding-left: 20px;
    line-height: 18px;
    margin-right: 20px;
    font-family: "din-black";
    font-size: 13px;
}

.filter-container li.active a{
    background-position: 0 -22px;
}




/**ITEMS**/

.item{
    background: rgba(0,0,0,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000)";
    border-top: 2px solid #f8533d;
    width: 254px;
    position: relative;
    margin: 5px;
}

.ie7 .item{
	background: #333;
}

.item > a{
    display: block;
    padding: 12px;
}

.item h2{
    color: #fff;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 14px;
}

.item p.bajada{
    color: #f8533d;
    font-family: "din-black";
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 5px;
    background: url("./assets/flag-orange.png") left top no-repeat;
    padding-top: 12px;
}

.item span.date,
.item span.deporte,
.item span.time{
    display: block;
    color: #fff;
}

.item span.date{
    font-size: 20px;
    line-height: 23px;
    text-align: right;
}

.item span.time{
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 3px;
}

.item span.deporte{
    font-size: 15px;
    line-height: 18px;
    font-family: "din-black";
    margin-bottom: 15px;
    text-transform: uppercase;
}


.item a:hover .ic-more span{
    color: #f8533d;
}













/*isotope*/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}