/*
 * INVESTIGACION
*/

	/* Intro */

	.compromiso-internas .investigacion .row .intro{
		background: #00aba9;
		height: 432px;
	}

	.compromiso-internas .investigacion .row .intro h3{
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 32px;
	}

	.compromiso-internas .investigacion .row .intro .scrollCustom{
		height: 300px;
	}


/*
 * Sustentabilidad
*/

	/* Intro */

	.compromiso-internas .sustentabilidad .row .intro{
		background: #8cbad7;
		height: 385px;
	}

	.compromiso-internas .sustentabilidad .row .intro h3{
		margin-top: 20px;
	}

	.compromiso-internas .sustentabilidad .row .intro .scrollCustom{
		height: 300px;
	}

	/* BLoque de abajo */

	.compromiso-internas .sustentabilidad .row .txt2,
	.compromiso-internas .sustentabilidad .row .txt3{
		height: 580px;
	}

	.compromiso-internas .sustentabilidad .row .txt2{
		background: #2e2275;
	}

	.compromiso-internas .sustentabilidad .row .txt3{
		background: #49008d;
	}

	.compromiso-internas .sustentabilidad .row .txt2 h3,
	.compromiso-internas .sustentabilidad .row .txt3 h3{
		font-size: 25px;
		line-height: 28px;
	}

	.compromiso-internas .sustentabilidad .row .txt2 .scrollCustom,
	.compromiso-internas .sustentabilidad .row .txt3 .scrollCustom{
		height: 460px;
	}


/*
 * CMASS
*/

	/* Intro */

	.compromiso-internas .cmass .row .intro{
		background: #0f8cb0;
		height: 430px;
	}

	.compromiso-internas .cmass .row .intro h3{
		margin-top: 20px;
	}

	.compromiso-internas .cmass .row .intro .scrollCustom{
		height: 350px;
	}

	.compromiso-internas .cmass .row .intro p a:hover{
		opacity: 0.5;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}


	/* segunda fila */

	.compromiso-internas .cmass .txt h3{
		font-size: 25px;
		line-height: 28px;
	}

	/* Sustentabilidad en recursos no convencionales*/

	.compromiso-internas .cmass .row .sustentabilidad-no-convencionales{
		height: 445px;
		background: #004762;
	}

	.compromiso-internas .cmass .row .sustentabilidad-no-convencionales .scrollCustom{
		height: 320px;
	}

	/* Tecnologia especializada */

	.compromiso-internas .cmass .row .tecnologia{
		height: 357px;
		background: #575373;
	}

	.compromiso-internas .cmass .row .tecnologia .scrollCustom{
		height: 220px;
	}

	/* Seguridad */

	.compromiso-internas .cmass .row .seguridad{
		height: 355px;
		background: #87c3bf;
	}

	.compromiso-internas .cmass .row .seguridad .scrollCustom{
		height: 220px;
	}

	/* Medidas de Seguridad */

	.compromiso-internas .cmass .row .medidas-seguridad{
		height: 355px;
		background: #111 url("./assets/textura-negra2.jpg");
	}

	.compromiso-internas .cmass .row .medidas-seguridad .scrollCustom{
		height: 220px;
	}



	/* Grafico Estimulacion hidraulica */

	.internas .grafico-estimulacion-hidraulica{
		width:757px;
		height: 430px;
		background: #202020;
	}

	.internas .grafico-estimulacion-hidraulica .titulo{
		width: 285px;
		margin-right: 18px;
	}

		.internas .row .grafico-estimulacion-hidraulica h3{
			font-size: 22px;
			font-family: "din-black";
			line-height: 22px;
			margin-bottom: 10px;
		}

		.internas .row .grafico-estimulacion-hidraulica h4{
			font-size: 20px;
			font-family: "din-regular";
			line-height: 24px;
			width: 300px;
		}

	.internas .grafico-estimulacion-hidraulica .texto{
		width: 445px
	}

		.internas .grafico-estimulacion-hidraulica .texto p{
			font-size: 13px;
			margin-bottom: 5px;
		}

	.internas .grafico-estimulacion-hidraulica img{
		display: block;
		margin-top: 15px;
	}




	/* Grafico grafico-decada-de-energia */

	.internas .grafico-decada-de-energia{
		width:757px;
		height: 357px;
		background: #02a5b6;
	}

	.internas .row .grafico-decada-de-energia h3{
		font-size: 22px;
		font-family: "din-black";
		line-height: 22px;
		margin-bottom: 10px;
	}

	.internas .row .grafico-decada-de-energia .desc{
		width: 339px;
	}

	.internas .row .grafico-decada-de-energia li{
		float: left;
		width: 240px;
		margin-right: 17px;
	}

	.internas .row .grafico-decada-de-energia li.last{
		margin-right: 0px;
	}

	.internas .row .grafico-decada-de-energia li h4{
		font-size: 15px;
		line-height: 18px;
		padding: 5px 0;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		margin: 10px 0 5px 0;
		font-family: "din-black";
	}

	.internas .row .grafico-decada-de-energia li p{
		font-size: 13px;
	}
