.contenedor-principal .crea-turno section.content{
    background: #f8f8f8;
    padding: 20px;
    width: 810px;
}

.contenedor-principal .crea-turno .destacado {
    background: url("./assets/destacado-historia-tecnica.jpg") center top no-repeat;
    padding-top: 95px;
}

.contenedor-principal .crea-turno .destacado p {
    font-size: 19px;
    padding: 20px;
    font-family: 'din-regular';
}

.contenedor-principal .crea-turno section.content h3{
    text-transform: uppercase;
    line-height: 22px;
    border-bottom: 4px solid #ddd;
    margin-bottom: 40px;
    font-size: 15px;
    color: #4f4f4f;
    padding-bottom: 20px;
}

.contenedor-principal .crea-turno section.content .breadcrumb{
    overflow: hidden;
    margin-bottom: 30px;
}

.contenedor-principal .crea-turno section.content .breadcrumb li{
    float: left;
    color: #9d9d9d;
    font-size: 17px;
    line-height: 20px;
    border-bottom: 6px solid #c1c1c1;
    width: 260px;
    text-align: center;
    padding-bottom: 8px;
}

.contenedor-principal .crea-turno section.content .breadcrumb li.active{
    border-color: #0f6ac5;
    color: #343434;
}

.contenedor-principal .crea-turno a.btn-next{
	display: block;
	border: 4px solid #0f6ac5;
	color: #0f6ac5;
	width: 296px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 25px;
}

.contenedor-principal .crea-turno a.btn-next span{
	background: url("./assets/ic-btn-next.png") right no-repeat;
	display: inline-block;
	padding-right: 20px;
}

.crea-turno .content .filtro-anos{
    margin-bottom: 45px;
}

.crea-turno .content .filtro-anos .select-model {
    width: 330px;
}

.crea-turno .content table{
    width: 100%;
}

.crea-turno .content thead{
    background: #0558ac;
}

.crea-turno .content th{
    text-align: left;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "din-black";
    font-size: 11px;
}

    .crea-turno .content th.col1{
        width: 15%;
    }

    .crea-turno .content th.col2{
        width: 10%;
    }

    .crea-turno .content th.col3{
        width: 15%;
    }

    .crea-turno .content th.col4{
        width: 10%;
    }

    .crea-turno .content th.col5{
        width: 30%;
    }

    .crea-turno .content th.col6{
        width: 10%;
    }

    .crea-turno .content th.col7{
        width: 10%;
    }

    .crea-turno .content td.col6,
    .crea-turno .content td.col7 {
        text-align: center;
    }


/* STEP 1 */

.crea-turno .body-step1 tr:hover,
.crea-turno .body-step1 tr.active {
    background-color: #009fde;
}

.crea-turno .body-step1 tr:hover td,
.crea-turno .body-step1 tr.active td {
    color: #fff;
    border-color: #0d98d0;
}

.crea-turno .body-step1 td {
    height: 40px;
    vertical-align: middle;
    padding: 0 10px;
    border: 1px solid #e4e4e4;
}

    .crea-turno .body-step1 td:first-of-type {
        border-left: none;
    }

    .crea-turno .body-step1 td:last-of-type {
        border-right: none;
    }

.crea-turno .body-step1 .cancelar,
.crea-turno .body-step1 .modificar,
.crea-turno .body-step1 .confirmar {
    padding: 0;
}

.crea-turno .body-step1 .cancelar a,
.crea-turno .body-step1 .modificar a,
.crea-turno .body-step1 .confirmar a {
    color: #fff;
    visibility: hidden;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
}

.crea-turno .body-step1 .cancelar a:hover,
.crea-turno .body-step1 .modificar a:hover,
.crea-turno .body-step1 .confirmar a:hover {
    background-color: #0558ac;
}

.crea-turno .body-step1 tr:hover a,
.crea-turno .body-step1 tr.active a{
    visibility: visible;
}

.crea-turno .body-step1 .icon {
    display: inline-block;
    margin-right: 5px;
    background-image: url('./assets/icons_turnos.png');
    background-repeat: no-repeat;
    width: 13px;
    height: 15px;
    top: 4px;
    position: relative;
}

.crea-turno .body-step1 .icon.cancel {
    background-position: 0px 0px;
}

.crea-turno .body-step1 .icon.modify {
    background-position: 0px -17px;
}

.crea-turno .body-step1 .icon.check-ok {
    background-position: 0px -38px;
}

/* disabled */

.crea-turno .body-step1 tr.disabled {
    background-color: #f0f0f0;
}

.crea-turno .body-step1 tr.disabled td {
    color: #838383 !important;
    border-color: #e4e4e4 !important;
}


.crea-turno .body-step1 a.btn-next {
    margin-left: auto;
    margin-right: auto;
    width: 470px;
}



.contenedor-principal .crea-turno section.content .body-step2{
    background: #f8f8f8;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-principal .crea-turno section.content .body-step2 select{
    width: 300px;
}

.contenedor-principal .crea-turno section.content .body-step2 input[type=text],
.contenedor-principal .crea-turno section.content .body-step2 a.ui-selectmenu,
.contenedor-principal .crea-turno section.content .body-step2 textarea{
    border: 2px solid #d7d7d7;
}

.contenedor-principal .crea-turno section.content .body-step2 input[type=text],
.contenedor-principal .crea-turno section.content .body-step2 textarea{
    width: 280px;
    color: #838383;
}

.contenedor-principal .crea-turno section.content .body-step2 input[type=text]{
    height: 34px;
    padding: 0 10px;
}

.contenedor-principal .crea-turno section.content .body-step2 textarea{
    padding: 5px 10px;
    height: 150px;
    overflow: hidden;
    resize: none;
}



.contenedor-principal .crea-turno section.content .body-step3 p{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}


.contenedor-principal .crea-turno section.content .body-step3 p.confirmacion-turno{
    color: #fff;
    background: #0f6ac5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
}
