.contenedor-principal .crea-turno section.content{
    width: 850px;
}

.contenedor-principal .crea-turno .destacado {
    background: url("./assets/destacado-historia-tecnica.jpg") center top no-repeat;
    padding-top: 50px;
}

.contenedor-principal .crea-turno .destacado p {
    font-size: 19px;
    padding: 20px;
    font-family: 'din-regular';
}

.contenedor-principal .crea-turno section.content h3{
    text-transform: uppercase;
    line-height: 22px;
    border-bottom: 4px solid #ddd;
    margin-bottom: 40px;
    font-size: 15px;
    color: #4f4f4f;
    padding-bottom: 20px;
}

.content-container{
    min-height: 500px;
}

.contenedor-principal .crea-turno section.content .breadcrumb{
    overflow: hidden;
    background: #f8f8f8;
    padding: 20px;
}

.contenedor-principal .crea-turno section.content .breadcrumb li{
    float: left;
    color: #9d9d9d;
    font-size: 13px;
    line-height: 20px;
    border-bottom: 6px solid #c1c1c1;
    width: 200px;
    text-align: center;
    padding-bottom: 8px;
}

.contenedor-principal .crea-turno section.content .breadcrumb li.active{
    border-color: #0f6ac5;
    color: #343434;
}

.contenedor-principal .crea-turno a.btn-next{
	display: block;
	border: 4px solid #0f6ac5;
	color: #0f6ac5;
	width: 296px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 25px;
    /* Firefox */
    -moz-transition: all 0.1s ease-in;
    /* WebKit */
    -webkit-transition: all 0.1s ease-in;
    /* Opera */
    -o-transition: all 0.1s ease-in;
    /* Standard */
    transition: all 0.1s ease-in;
}

.contenedor-principal .crea-turno a.btn-next span{
	background: url("./assets/ic-btn-next.png") right no-repeat;
	display: inline-block;
	padding-right: 20px;
}

.crea-turno a.btn-next:hover {
    color: #fff;
    background-color: #0f6ac5;
}

.crea-turno a.btn-next:hover span{
    background-image: url('./assets/ic-btn-next-hover.png');
}

/* STEP 2 */

.crea-turno .body-step2 .seleccionar-horario-content{
    display: none;
}

.crea-turno .seleccionar-horario-content table{
    width: 100%;
}

.crea-turno .body-step2{
    padding-bottom: 20px;
    background: #f8f8f8;
    display: none;
}

.crea-turno .seleccionar-horario-content tr:hover,
.crea-turno .seleccionar-horario-content tr.active {
    background-color: #009fde;
}

.crea-turno .seleccionar-horario-content tr:hover td,
.crea-turno .seleccionar-horario-content tr.active td {
    color: #fff;
    border-color: #0d98d0;
}

.crea-turno .seleccionar-horario-content td {
    height: 40px;
    vertical-align: middle;
    padding: 0 10px;
    border: 1px solid #e4e4e4;
}

    .crea-turno .seleccionar-horario-content td:first-of-type {
        border-left: none;
    }

    .crea-turno .seleccionar-horario-content td:last-of-type {
        border-right: none;
    }

.crea-turno .seleccionar-horario-content .cancelar,
.crea-turno .seleccionar-horario-content .modificar,
.crea-turno .seleccionar-horario-content .confirmar {
    padding: 0;
}

.crea-turno .seleccionar-horario-content .cancelar a,
.crea-turno .seleccionar-horario-content .modificar a,
.crea-turno .seleccionar-horario-content .confirmar a {
    color: #fff;
    visibility: hidden;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
}

.crea-turno .seleccionar-horario-content .cancelar a:hover,
.crea-turno .seleccionar-horario-content .modificar a:hover,
.crea-turno .seleccionar-horario-content .confirmar a:hover {
    background-color: #0558ac;
}

.crea-turno .seleccionar-horario-content tr:hover a,
.crea-turno .seleccionar-horario-content tr.active a{
    visibility: visible;
}

.crea-turno .seleccionar-horario-content .icon {
    display: inline-block;
    margin-right: 5px;
    background-image: url('./assets/icons_turnos.png');
    background-repeat: no-repeat;
    width: 13px;
    height: 15px;
    top: 4px;
    position: relative;
}

.crea-turno .seleccionar-horario-content .icon.cancel {
    background-position: 0px 0px;
}

.crea-turno .seleccionar-horario-content .icon.modify {
    background-position: 0px -17px;
}

.crea-turno .seleccionar-horario-content .icon.check-ok {
    background-position: 0px -38px;
}

/* disabled */

.crea-turno .seleccionar-horario-content tr.disabled {
    background-color: #f0f0f0;
}

.crea-turno .seleccionar-horario-content tr.disabled td {
    color: #bbb !important;
    border-color: #e4e4e4 !important;
}


/* Titulo de secciones*/

.crea-turno .body-step2 .title,
.crea-turno .body-step2 .title h4{
    background-image: url('./assets/icons-turnos-titles.png');
    background-repeat: no-repeat;
}

.crea-turno .body-step2 .title{
    padding: 10px 10px 10px 32px;
    cursor: pointer;
    position: relative;
}

.crea-turno .body-step2 .title.active{
    background-color: #0558ac;
    color: #fff;
}

.crea-turno .body-step2 .title.seleccionar-fecha{
    background-position: 0px 5px;
}

.crea-turno .body-step2 .title.seleccionar-fecha.active{
    background-position: -30px -25px;
}

.crea-turno .body-step2 .title.seleccionar-horario{
    background-position: 0px -56px;
}

.crea-turno .body-step2 .title.seleccionar-horario.active{
    background-position: -30px -87px;
}

.crea-turno .body-step2 .title h4{
    font-size: 16px;
    font-family: 'din-medium';
    padding-left: 40px;
    background-position: -5px -125px;
}

.crea-turno .body-step2 .title.active h4{
    background-position: -39px -157px;
}

#datepicker{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#datepicker .ui-datepicker{
    width: auto;
}

#datepicker .ui-widget-content,
#datepicker .ui-widget-header{
    background: #232323;
    border: none;
}

#datepicker .ui-widget-header{
    border: none;
    padding: 12px;
    font-size: 16px;
    font-family: 'din-regular';
}

#datepicker .ui-datepicker-calendar th{
    background-color: #0063be;
    color: #fff;
}

#datepicker .ui-datepicker td {
    border: 1px solid #2e2e2e;
}

#datepicker .ui-state-default,
#datepicker .ui-widget-content .ui-state-default,
#datepicker .ui-widget-header .ui-state-default{
    border: none;
    background: #232323;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
}

#datepicker .ui-state-active,
#datepicker .ui-widget-content .ui-state-active,
#datepicker .ui-widget-header .ui-state-active {
    background: #0063be;
}

#datepicker .ui-state-hover {
    background: none !important;
    border: none !important;
}

#datepicker .ui-state-hover .ui-icon,
#datepicker .ui-state-focus .ui-icon{
    background-image: url('http://localhost/bc/css/libs/images/ui-icons_ffffff_256x240.png');
}

#datepicker .ui-datepicker .ui-datepicker-prev,
#datepicker .ui-datepicker .ui-datepicker-next{
    top: 10px;
}

/* STEP 3 */

.contenedor-principal .crea-turno section.content .body-step3{
    padding: 20px;
    background: #f8f8f8;
    display: none;
}

.contenedor-principal .crea-turno section.content .body-step3 select{
    width: 300px;
}

.contenedor-principal .crea-turno section.content .body-step3 input[type=text],
.contenedor-principal .crea-turno section.content .body-step3 a.ui-selectmenu,
.contenedor-principal .crea-turno section.content .body-step3 textarea{
    border: 2px solid #d7d7d7;
}

.contenedor-principal .crea-turno section.content .body-step3 input[type=text],
.contenedor-principal .crea-turno section.content .body-step3 textarea{
    width: 280px;
    color: #838383;
}

.contenedor-principal .crea-turno section.content .body-step3 input[type=text]{
    height: 34px;
    padding: 0 10px;
}

.contenedor-principal .crea-turno section.content .body-step3 textarea{
    padding: 5px 10px;
    height: 150px;
    overflow: hidden;
    resize: none;
}



/* STEP 4 */

.contenedor-principal .crea-turno section.content .body-step4{
    display: none;
    background: #fff;
    padding: 20px;
}

.contenedor-principal .crea-turno section.content .body-step4 p{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}


.contenedor-principal .crea-turno section.content .body-step4 p{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}

.contenedor-principal .crea-turno section.content .body-step4 p.confirmacion-turno{
    color: #fff;
    background: #0f6ac5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
}

.contenedor-principal .crea-turno section.content .body-step4 p.confirmacion-turno{
    color: #fff;
    background: #0f6ac5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
}

.contenedor-principal .crea-turno section.content .body-step4 .confirmacion-extra{
    overflow: hidden;
}

.contenedor-principal .crea-turno section.content .body-step4 .confirmacion-extra{
    padding-top: 20px;
}

.contenedor-principal .crea-turno section.content .body-step4 .confirmacion-extra .left-col,
.contenedor-principal .crea-turno section.content .body-step4 .confirmacion-extra .right-col{
    background: #f8f8f8;
    width: 340px;
    padding: 20px;
    min-height: 105px;
}

.contenedor-principal .crea-turno section.content .body-step4 .confirmacion-extra .left-col{
    float: left;
}

.contenedor-principal .crea-turno section.content .body-step4 .confirmacion-extra .right-col{
    float: right;
}

.contenedor-principal .crea-turno section.content .confirmacion-extra input[type=text]{
    display: block;
    border: 2px solid #dcdcdc;
    width: 290px;
    padding: 0 10px 0 22px;
    height: 30px;
    margin-top: 20px;
    background: url("./assets/ic-mail.png") left center no-repeat;
}

.contenedor-principal .crea-turno section.content .confirmacion-extra button{
    border: none;
    display: inline-block;
    color: #fff;
    background: #d8d8d8;
    text-transform: uppercase;
    width: 80px;
    height: 30px;
    font-size: 11px;
    margin-top: 10px;
    cursor: pointer;
    font-family: "din-black";
    /* Firefox */
    -moz-transition: all 0.1s ease-in;
    /* WebKit */
    -webkit-transition: all 0.1s ease-in;
    /* Opera */
    -o-transition: all 0.1s ease-in;
    /* Standard */
    transition: all 0.1s ease-in;
}

.contenedor-principal .crea-turno section.content .confirmacion-extra button:hover{
    background: #0f6ac5;
}

.contenedor-principal .crea-turno section.content .body-step4 .confirmacion-extra p,
.contenedor-principal .crea-turno section.content .body-step4 .confirmacion-extra legend{
    font-size: 15px;
    line-height: 20px;
}

.contenedor-principal .crea-turno section.content .body-step4 .confirmacion-extra p a{
    color: #0f6ac5;
    text-decoration: underline;
}