/*
 * ENERGIA PARA EL CRECIMIENTO
*/

	/* INTRO */

	.desafio-energetico-internas .energia-para-el-crecimiento .row .intro{
		background: #0d7b6a;
		height: 432px;
	}

	.desafio-energetico-internas .energia-para-el-crecimiento .row .intro .scrollCustom{
		height: 300px;
	}

	/* Argentina un pais con futuro */

	.desafio-energetico-internas .energia-para-el-crecimiento .row .argentina{
		background: #6d8711;
		height: 432px;
	}

	.desafio-energetico-internas .energia-para-el-crecimiento .row .argentina h3{
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 26px;
	}

	/* Slider */

	.desafio-energetico-internas .energia-para-el-crecimiento .row .jcarousel-slider-interna{
		height: 472px;
		width: 797px;
		background: url("./assets/textura-negra2.jpg");
	}

	.desafio-energetico-internas .energia-para-el-crecimiento .row .jcarousel-slider-interna li{
		width: 797px;
		height: 472px;
	}

	.desafio-energetico-internas .energia-para-el-crecimiento .row .jcarousel-slider-interna li .content{
		padding: 30px;
	}

	.desafio-energetico-internas .energia-para-el-crecimiento .row .jcarousel-slider-interna li .content p{
		font-size: 15px;
		font-family: "din-black";
		font-weight: normal;
		line-height: 20px;
	}

	.desafio-energetico-internas .energia-para-el-crecimiento .row .jcarousel-prev-horizontal,
	.desafio-energetico-internas .energia-para-el-crecimiento .row .jcarousel-next-horizontal{
		top: 200px;
	}



	/* GRAFICO 1 */
	.internas .energia-para-el-crecimiento .row .grafico-1{
		width: 757px;
		height: 432px;
		background: url("./assets/textura-negra2.jpg");
	}

	.internas .energia-para-el-crecimiento .row .grafico-1 .contenedor{
		width: 400px;
		position: relative;
		z-index: 1;
	}

	.internas .energia-para-el-crecimiento .row .grafico-1 h3{
		font-size: 15px;
		font-family: "din-black";
		line-height: 22px;
		margin-bottom: 10px;
	}

	.internas .energia-para-el-crecimiento .row .grafico-1 p{
		font-size: 12px;
		font-family: "din-regular";
		line-height: 15px;
		margin-bottom: 10px;
	}

	.internas .energia-para-el-crecimiento .row .grafico-1 img{
		position: absolute;
		top: 0;
		left: 0px;
		z-index: 0;
	}


	/* GRAFICO 2 */
	.internas .energia-para-el-crecimiento .row .grafico-2 .tit-uppercase{
		margin-bottom: 10px;
	}

	.internas .energia-para-el-crecimiento .row .grafico-2{
		width:554px;
		height: 683px;
		background: url("./assets/textura-negra2.jpg");
	}

	.internas .energia-para-el-crecimiento .row .grafico-2 h3{
		font-size: 21px;
		font-family: "din-black";
		line-height: 30px;
		margin-bottom: 0px;
		margin-top: 26px;
	}



	/* GRAFICO 3 */

	.internas .energia-para-el-crecimiento .row .grafico-3{
		width:555px;
		height: 683px;
		background: url("./assets/textura-negra2.jpg");
	}

	.internas .energia-para-el-crecimiento .row .grafico-3 h3{
		font-size: 15px;
		font-family: "din-black";
		line-height: 22px;
		margin-bottom: 10px;
	}

	.internas .energia-para-el-crecimiento .row .grafico-3 p{
		font-size: 12px;
		font-family: "din-regular";
		line-height: 18px;
		margin-bottom: 10px;
		padding-right: 80px;
	}

	.internas .energia-para-el-crecimiento .row .grafico-3 p.pie-foto{
		font-size: 13px;
		font-family: "din-black";
		line-height: 19px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.internas .energia-para-el-crecimiento .row .grafico-3 h4{
		margin-top: 60px;
		padding-bottom: 8px;
		padding-right: 200px;
		border-bottom: 1px solid #fff;
		font-size: 14px;
		font-family: "din-black";
		line-height: 19px;
		margin-bottom: 15px;
	}






/*
 * QUE ES SHALE
*/

	/* Estilos para article que es shale */

	.desafio-energetico-internas .que-es-shale .row .que-es-shale-detalle{
		background: #77b8a2;
		height: 428px;
	}

	.desafio-energetico-internas .que-es-shale .row .que-es-shale-detalle .scrollCustom{
		height: 300px;
	}

	/* Bloque lo que hay que saber */

	.desafio-energetico-internas .que-es-shale .row .saber {
		background: #5f3a56;
		height: 218px;
	}

	.desafio-energetico-internas .que-es-shale .row .saber h3{
		font-size: 23px;
		line-height: 28px;
	}

	.desafio-energetico-internas .que-es-shale .row .saber a{
		text-transform: uppercase;
		font-family: "din-black";
		font-weight: normal;
		font-size: 14px;
	}

	.desafio-energetico-internas .que-es-shale .row .saber a:hover{
		opacity: 0.5;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	/* Estilos para article shale en el mundo */

	.desafio-energetico-internas .que-es-shale .row .shale-en-el-mundo{
		background: #b78c17;
		height: 620px;
	}

	.desafio-energetico-internas .que-es-shale .row .shale-en-el-mundo .scrollCustom{
		height: 515px;
	}

	/* Article Diferencias ambientales */

	.desafio-energetico-internas .que-es-shale .row .diferencia-ambiental{
		background: #2e775c;
		height: 292px;
	}

	.desafio-energetico-internas .que-es-shale .row .diferencia-ambiental .scrollCustom{
		height: 180px;
	}

	.desafio-energetico-internas .que-es-shale .row .diferencia-ambiental h3{
		font-size: 21px;
		line-height: 25px;
	}

	/* videos */

	.desafio-energetico-internas .que-es-shale .row a.video{
		position: relative;
		text-align: center;
		display: block;
	}

	.desafio-energetico-internas .que-es-shale .row a.video > div{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0, 0.5);
		-webkit-transition:opacity 0.5s ease-out;  /* Chrome y Safari */
		-o-transition:opacity 0.5s ease-out;  /* Opera */
		-moz-transition:opacity 0.5s ease-out;  /* Mozilla Firefox */
		-ms-transition:opacity 0.5s ease-out;   /* Internet Explorer */
		transition:opacity 0.5s ease-out;  /* W3C */
		opacity: 0;
		-moz-opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
	}

	.desafio-energetico-internas .que-es-shale .row a.video:hover > div{
		-moz-opacity: 1;
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	}

	.desafio-energetico-internas .que-es-shale .row a.video > div > span{
		display: inline-block;
		color: #fff;
		font-size: 17px;
		font-family: "din-black";
		font-weight: normal;
		position: absolute;
		bottom: 5px;
		left: 5px;
	}

	.desafio-energetico-internas .que-es-shale .row a.video img.videoplay{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -34px;
		margin-left: -34px;
		z-index: 10;
	}



	/* GRAFICO RECURSOS SHALE */

	.internas .grafico-recursos-shale{
		width:757px;
		height: 620px;
		background: url("./assets/textura-negra2.jpg");
	}

	.internas .row .grafico-recursos-shale h3{
		font-size: 20px;
		font-family: "din-black";
		margin-left: 30px;
	}





/*
 * VACA MUERTA
*/

	/* Vaca muerta detalle */

	.desafio-energetico-internas .vaca-muerta .row .vaca-muerta-detalle{
		background: #6c6a2c;
		height: 432px;
	}

	.desafio-energetico-internas .vaca-muerta .row .vaca-muerta-detalle .scrollCustom{
		height: 300px;
	}


	/* Bloque texto izquierdo */

	.desafio-energetico-internas .vaca-muerta .row .microscopio{
		position: relative;
	}

	/* Bloque texto derecho */

	.desafio-energetico-internas .vaca-muerta .row .txt2{
		background: url("./assets/textura-negra.jpg");
		width: 757px;
		height: 218px;
	}

	.desafio-energetico-internas .vaca-muerta .row .txt2 .scrollCustom{
		height: 210px;
	}

	.desafio-energetico-internas .vaca-muerta .row .txt2 p{
		font-family: "din-medium";
		font-weight: normal;
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 13px;
	}

	.desafio-energetico-internas .vaca-muerta .row .txt2 p.last{
		margin-right: 0;
	}

	.desafio-energetico-internas .vaca-muerta .row .txt2 p span{
		font-family: "din-black"
	}

	/* SLider */
	.desafio-energetico-internas .vaca-muerta .el-equipo{
		height: 472px;
		width: 797px;
		position: relative;
	}


/*
 * RECURSOS NO CONVENIONALES
*/


	.desafio-energetico-internas .recursos-no-convencionales .row .intro{
		background: #0d7b6a;
		height: 432px;
	}

	.desafio-energetico-internas .recursos-no-convencionales .row .intro h3{
		margin-top: 20px;
	}

	.desafio-energetico-internas .recursos-no-convencionales .row .intro .scrollCustom{
		height: 300px;
	}


	/* SLider */
	.desafio-energetico-internas .recursos-no-convencionales .galeria{
		position: relative;
	}

	.desafio-energetico-internas .recursos-no-convencionales .jcarousel-slider-interna{
		height: 472px;
		width: 797px;
	}

	.desafio-energetico-internas .recursos-no-convencionales .jcarousel-slider-interna li{
		width: 797px;
		height: 472px;
	}

	.desafio-energetico-internas .recursos-no-convencionales .jcarousel-prev-horizontal,
	.desafio-energetico-internas .recursos-no-convencionales .jcarousel-next-horizontal{
		top: 200px;
	}

	/* Contenido relacionado */

	.desafio-energetico-internas .recursos-no-convencionales .relacionados{
		background: url("./assets/textura-negra2.jpg");
		height: 365px;
	}

	.desafio-energetico-internas .recursos-no-convencionales .relacionados h3{
		margin-top: 30px;
		margin-bottom: 50px;
		font-size: 22px;
	}

	.desafio-energetico-internas .recursos-no-convencionales .relacionados ul{
		margin-left: 20px;
	}

	.desafio-energetico-internas .recursos-no-convencionales .relacionados a{
		font-size: 15px;
		font-family: "din-medium";
		font-weight: normal;
		line-height: 40px;
	}

	.desafio-energetico-internas .recursos-no-convencionales .relacionados a:hover{
		text-decoration: underline;
	}

	/* Graficos */

	.desafio-energetico-internas .recursos-no-convencionales .graficos{
		width: 797px;
		position: relative;
	}

	.desafio-energetico-internas .recursos-no-convencionales .graficos .menu{
		position: absolute;
		left: 0;
		top: 17px;
	}

	.desafio-energetico-internas .recursos-no-convencionales .graficos .menu dt{
		width: 315px;
		height: 38px;
		background: url("./assets/desafio-energetico/recursos-no-convencionales/menu.png") no-repeat;
		cursor: pointer;
		font-family: "din-regular";
		font-weight: normal;
		font-size: 20px;
		line-height: 38px;
		padding-left: 15px;
	}

	.desafio-energetico-internas .recursos-no-convencionales .graficos .menu dt span{
		font-family: "din-black";
	}

	.desafio-energetico-internas .recursos-no-convencionales .graficos .menu dd{
		background: #242d3d;
		line-height: 35px;
		height: 35px;
		font-family: "din-medium";
		font-weight: normal;
		font-size: 15px;
		margin-left: 50px;
		padding: 0 20px;
		cursor: pointer;
		display: none;
	}

	.desafio-energetico-internas .recursos-no-convencionales .graficos .menu dd:hover,
	.desafio-energetico-internas .recursos-no-convencionales .graficos .menu dd.active{
		background: #464e5b;
	}

	.desafio-energetico-internas .recursos-no-convencionales .graficos .imgs img{
		display: none;
	}

	.desafio-energetico-internas .recursos-no-convencionales .graficos .imgs img.active{
		display: block;
	}



	/* Grafico Matriz de energía primaria */
	.internas .grafico-matriz-energia{
		width:757px;
		height: 365px;
		background: url("./assets/textura-negra2.jpg");
	}

	.internas .row .grafico-matriz-energia h3{
		font-size: 24px;
		font-family: "din-black";
		margin-bottom: 2px;
	}

	.internas .row .grafico-matriz-energia h4{
		font-size: 16px;
		margin-bottom: 8px;
	}

	.internas .row .grafico-matriz-energia .desc{
		font-size: 12px;
	}

	.internas .row .grafico-matriz-energia .pie{
		border-top: 1px solid #ccc;
		padding-top: 5px;
		margin-top: 5px;
		margin-right: 20px;
		font-size: 11px;
	}



/*
 * RECURSOS CONVENIONALES
*/

	.desafio-energetico-internas .recursos-convencionales .row .intro{
		background: #ac9e2c;
		height: 432px;
	}

	.desafio-energetico-internas .recursos-convencionales .row .intro h3{
		margin-top: 20px;
	}

	.desafio-energetico-internas .recursos-convencionales .row .intro .scrollCustom{
		height: 300px;
	}


	/* SLider */

	.desafio-energetico-internas .recursos-convencionales .galeria{
		position: relative;
	}

	.desafio-energetico-internas .recursos-convencionales .jcarousel-slider-interna{
		height: 472px;
		width: 797px;
	}

	.desafio-energetico-internas .recursos-convencionales .jcarousel-slider-interna li{
		width: 797px;
		height: 472px;
	}

	.desafio-energetico-internas .recursos-convencionales .jcarousel-prev-horizontal,
	.desafio-energetico-internas .recursos-convencionales .jcarousel-next-horizontal{
		top: 200px;
	}


	/* Graficos */

	.desafio-energetico-internas .recursos-convencionales .graficos{
		background: url("./assets/textura-negra.jpg");
		width: 1160px;
		min-height: 680px;
	}

	.desafio-energetico-internas .recursos-convencionales .graficos h3{
		font-size: 23px;
	}

	.desafio-energetico-internas .recursos-convencionales .graficos ul{
		margin-left: 40px;
	}

	.desafio-energetico-internas .recursos-convencionales .graficos li{
		position: absolute;
	}

	.desafio-energetico-internas .recursos-convencionales .graficos li > img{
		position: absolute;
		top: 254px;
		opacity: 0.3;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
		filter: alpha(opacity=30);
		cursor: pointer;
		-webkit-transition:opacity 0.5s ease-out;  /* Chrome y Safari */
		-o-transition:opacity 0.5s ease-out;  /* Opera */
		-moz-transition:opacity 0.5s ease-out;  /* Mozilla Firefox */
		-ms-transition:opacity 0.5s ease-out;   /* Internet Explorer */
		transition:opacity 0.5s ease-out;  /* W3C */
	}

		.desafio-energetico-internas .recursos-convencionales .graficos li.capa-b > img{
			left: 25%;
			top: 241px;
		}

		.desafio-energetico-internas .recursos-convencionales .graficos li.capa-c > img{
			left: 65%;
			top: 218px;
		}


	.desafio-energetico-internas .recursos-convencionales .graficos li .detalle{
		position: relative;
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-webkit-transition:opacity 0.5s ease-out;  /* Chrome y Safari */
		-o-transition:opacity 0.5s ease-out;  /* Opera */
		-moz-transition:opacity 0.5s ease-out;  /* Mozilla Firefox */
		-ms-transition:opacity 0.5s ease-out;   /* Internet Explorer */
		transition:opacity 0.5s ease-out;  /* W3C */
	}

	.desafio-energetico-internas .recursos-convencionales .graficos .detalle > img{
		position: absolute;
	}

	.desafio-energetico-internas .recursos-convencionales .graficos .detalle > p{
		margin-left: 290px;
		margin-right: 50px;
		border-top: 2px solid #fff;
		padding-top: 20px;
	}

	/* active */
	.desafio-energetico-internas .recursos-convencionales .graficos li.active > img,
	.desafio-energetico-internas .recursos-convencionales .graficos li.active .detalle{
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

/*
 * DESAFIO ENERGETICO DETALLE
*/

	/* detalle */

	.desafio-energetico-internas .desafio-energetico-detalle .row .intro{
		background: #306f57;
		height: 432px;
	}

	.desafio-energetico-internas .desafio-energetico-detalle .row .intro .scrollCustom{
		height: 300px;
	}


	/* INFO */

	.desafio-energetico-internas .desafio-energetico-detalle .info{
		width: 757px;
		height: 204px;
		background: url("./assets/textura-negra.jpg");
		padding-top: 30px;
	}

	.desafio-energetico-internas .desafio-energetico-detalle .info p{
		font-family: "din-regular";
		font-weight: normal;
		font-size: 21px;
		text-shadow: 2px 2px 3px #333;
		line-height: 35px;
		border-top: 1px solid #fff;
		padding-top: 18px;
		margin-bottom: 22px;
	}

	.desafio-energetico-internas .desafio-energetico-detalle .info p strong{
		font-size: 25px;
		font-family: "din-black";
		font-weight: normal;
	}

	.desafio-energetico-internas .desafio-energetico-detalle .info p strong span{
		color: #b98d00;
	}

	.desafio-energetico-internas .desafio-energetico-detalle .info p.first{
		border-top: 2px solid #fff;
	}


	/* Grafico ventana vaca muerta */

	.internas .desafio-energetico-detalle .row .grafico-ventana-vaca-muerta{
		width: 797px;
		height: 472px;
		background: #333;
		position: relative;
	}

	.internas .desafio-energetico-detalle .row .grafico-ventana-vaca-muerta .content{
		position: absolute;
		z-index: 1;
		width: 240px;
		left: 40px;
		top: 40px;
	}

	.internas .desafio-energetico-detalle .row .grafico-ventana-vaca-muerta h3{
		font-size: 26px;
		font-family: "din-regular";
		font-weight: normal;
		line-height: 30px;
		margin-bottom: 10px;
	}

	.internas .desafio-energetico-detalle .row .grafico-ventana-vaca-muerta h3 span{
		font-family: "din-black";
	}

	.internas .desafio-energetico-detalle .row .grafico-ventana-vaca-muerta p{
		font-size: 15px;
		line-height: 19px;
	}

	.internas .desafio-energetico-detalle .row .grafico-ventana-vaca-muerta .introduction{
		border-top: 3px solid #fff;
		border-bottom: 3px solid #fff;
		padding: 18px 0;
		margin-bottom: 20px;
	}

	.internas .desafio-energetico-detalle .row .grafico-ventana-vaca-muerta .datos{
		margin-bottom: 15px;
	}

	.internas .desafio-energetico-detalle .row .grafico-ventana-vaca-muerta .final{
		border-top: 1px solid #fff;
		padding-top: 10px;
	}

/*
 * MITOS Y VERDADES
*/

	.mitos-y-verdades .col-izq{
		float: left;
		width: 380px;
	}

	.mitos-y-verdades .col-der{
		float: left;
		width: 820px;
	}

	.mitos-y-verdades .bloque{
		margin-bottom: 15px;
		width: 328px;
	}

	.mitos-y-verdades .bloque.last{
		margin-bottom: 0;
	}

	.mitos-y-verdades .col-der .bloque{
		width: 364px;
		height: 270px;
	}

	.mitos-y-verdades .bloque h4{
		font-size: 18px;
		font-weight: normal;
		font-family: "din-medium";
		line-height: 22px;
	}

	.mitos-y-verdades .bloque .resp{
		font-size: 41px;
		font-weight: normal;
		font-family: "din-black";
		line-height: 45px;
		margin: 10px 0;
		text-transform: uppercase;
	}

	.mitos-y-verdades .bloque .explicacion{
		font-size: 15px;
		font-weight: normal;
		line-height: 19px;
	}

	.mitos-y-verdades .bloque .explicacion strong{
		font-family: "din-black";
	}

	.mitos-y-verdades .more:hover{
		opacity: .6;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	}
	/* INTRO */

	.mitos-y-verdades .intro{
		background: #333333;
	}

	.mitos-y-verdades .intro h3{
		font-size: 30px;
		font-weight: normal;
		margin-bottom: 30px;
	}

	.mitos-y-verdades .intro h3 span{
		font-family: "din-black";
	}

	.mitos-y-verdades .intro .more{
		border-bottom-color: #ac9e2c;
	}


	/* BLOQUE AMARILLO */

	.mitos-y-verdades .amarillo{
		background: #ac9e2c;
	}

	.mitos-y-verdades .amarillo .more{
		border-bottom-color: #4f4707;
	}

	/* BLOQUE VERDE */

	.mitos-y-verdades .verde{
		background: #6d8711;
	}

	.mitos-y-verdades .verde .more{
		border-bottom-color: #526707;
	}

	/* BLOQUE NARANJA */

	.mitos-y-verdades .naranja{
		background: #b98d00;
	}

	.mitos-y-verdades .naranja .more{
		border-bottom-color: #795d04;
	}

	/* BLOQUE VIOLETA */

	.mitos-y-verdades .violeta{
		background: #650476;
	}

	.mitos-y-verdades .violeta .more{
		border-bottom-color: #460452;
	}

	/* BLOQUE TURQUESA */

	.mitos-y-verdades .turquesa{
		background: #2a775b;
	}

	.mitos-y-verdades .turquesa .more{
		border-bottom-color: #05534e;
	}
