
.estaciones .destacado {
	background: url("../images/estaciones/header.jpg") center top no-repeat;
}

.estaciones .pdf{
	display: block;
	background: #f0f0f0 url("./assets/ic_pdf_transparent.png") no-repeat 14px 10px;
	line-height: 40px;
	color: #808080;
	font-size: 13px;
	text-decoration: underline;
	padding-left: 40px;
	margin-bottom: 20px;
}

.estaciones .content h2{
	background: url("./assets/flag-orange.png") left no-repeat;
	padding-left: 14px;
	color: #d99b2d;
	font-size: 18px;
	line-height: 22px;
}

.estaciones .content h3{
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.estaciones .content article{
	border-top: 1px solid #ececec;
	padding: 25px 0 10px;
}

.estaciones .content h4{
	font-family: "din-black";
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #3cb1bb;
}