/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/



/*
 * Fonts
*/

@font-face {
	font-family: "din-regular";
	src: url("../fonts/din-regular.eot");
	src: local("?"),
	url("../fonts/din-regular.woff") format("woff"),
	url("../fonts/din-regular.ttf") format("truetype"),
	url("../fonts/din-regular.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "din-medium";
	src: url("../fonts/din-medium.eot");
	src: local("?"),
	url("../fonts/din-medium.woff") format("woff"),
	url("../fonts/din-medium.ttf") format("truetype"),
	url("../fonts/din-medium.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "din-black";
	src: url("../fonts/din-black.eot");
	src: local("?"),
	url("../fonts/din-black.woff") format("woff"),
	url("../fonts/din-black.ttf") format("truetype"),
	url("../fonts/din-black.svg#blaimim_-webfont") format("svg");
}

/*
 * End Fonts
*/

/*
 * Clearfix
*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

/*
 * End Clearfix
*/


body{
	font-family: "din-regular", arial, helvetica, sans-serif;
	color: #333;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 27px;
	padding-bottom: 140px; /* Para menu contraido */
}

.container-fluid{
	margin: 0 auto;
	max-width: 940px;
	min-width: 780px;
}

.hide{
	display: none;
}

.show{
	display: inherit;
}


/*
 * Link ir a YPF.COM
*/
.ir-a-ypf{
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	height: 27px;
	z-index: 1000;
}

.ir-a-ypf p{
	line-height: 27px;
	font-size: 12px;
	font-family: "din-black",arial;
	text-align: right;
}

.ir-a-ypf a{
	color: #000;
	display: inline-block;
	padding-left: 15px;
	margin-right: 10px;
	background: url("./assets/ir-a-ypf.png") no-repeat 0px 10px;
}

.ir-a-ypf a:hover{
	color: #0079c1;
	display: inline-block;
	padding-left: 15px;
	margin-right: 10px;
	background: url("./assets/ir-a-ypf.png") no-repeat 0px 10px;
}

.ie7 .ir-a-ypf a{
	display: inline;
}


/*
 * Menu
*/

.logo-ypf-comunidad{
	width: 111px;
	height: 54px;
	display: block;
	background: url("./assets/logo-ypf-comunidad.jpg") no-repeat;
	position: absolute;
}

.menuPrincipal{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 45px;
	background: #FFF;
	padding-top: 5px;
	z-index: 1000;
	-moz-box-shadow: 0 -4px 5px #999;
	-webkit-box-shadow: 0 -4px 5px #999;
	box-shadow: 0 -4px 5px #999;
}

.menuPrincipal .container{
	position: relative;
}

.menuPrincipal .open{
	width: 30px;
	height: 28px;
	display: block;
	position: absolute;
	right: 0;
	top: -32px;
	background: #fff url("./assets/abrir-menu.png") no-repeat top left;
	-moz-box-shadow: -1px -4px 5px #999;
	-webkit-box-shadow: -1px -4px 5px #999;
	box-shadow: -1px -4px 5px #999;
	text-indent: -9999px;
	cursor: pointer;
}

.menuPrincipal .open:hover{
	background-position: bottom left;
}

.menuPrincipal .col{
	float: left;
}

/*
 * Links principales
*/
.menuPrincipal .col h3{
	line-height: 45px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: "din-black",arial;
	margin-bottom: 12px;
	background: url("./assets/separador-menu.png") no-repeat top right;
	cursor: pointer;
	color: #000;

}

.menuPrincipal .col h3,
.menuPrincipal .col ul{
	padding: 0 30px;
}

.menuPrincipal .col.last h3{
	background: none;
	padding-right: 0;
}

.menuPrincipal .col.last ul{
	padding-right: 0;
}

.menuPrincipal nav{
	height: 50px;
	overflow: hidden;
	-webkit-transition: height .5s ease;
    -moz-transition: height .5s ease;
	transition: height .5s ease;
	position: relative;
	left: -29px;
}

.menuPrincipal nav a{
	text-decoration: none;
	color: #000;
}

.menuPrincipal .fundacion a:hover,
.menuPrincipal .fundacion a.active,
.menuPrincipal .fundacion h3.active,
.menuPrincipal .fundacion h3:hover{
	color: #34AAEC;
}

.menuPrincipal .educacion a:hover,
.menuPrincipal .educacion a.active,
.menuPrincipal .educacion h3.active,
.menuPrincipal .educacion h3:hover{
	color: #1EAA9C;
}

.menuPrincipal .comunidad a:hover,
.menuPrincipal .comunidad a.active,
.menuPrincipal .comunidad h3.active,
.menuPrincipal .comunidad h3:hover{
	color: #AFD741;
}

.menuPrincipal .publicaciones a:hover,
.menuPrincipal .publicaciones a.active{
	color: #ED00A1;
}

.menuPrincipal .novedades a:hover,
.menuPrincipal .novedades a.active{
	color: #F3AE24;
}

/*
 * Submenu
*/
.menuPrincipal .col li{
	margin-bottom: 5px;
}

.menuPrincipal .col li > a{
	font-size: 11px;
}


/*
 * Menu expandido
*/
.menuPrincipal.show nav{
	height: 165px;
}


/*
 * Footer
*/
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 45px;
	background: #fff;
	z-index: 999;
}

/*
 * Links principales
*/

footer .mainLinks {
	margin-top: 15px;
}

footer .mainLinks li{
	display: inline-block;
	font-size: 10px;
	margin-right: 8px;
	padding-right: 8px;
	border-right: 1px solid #6e6e6e;
}

.ie7 footer .mainLinks li{
	display: inline;
}

footer .mainLinks li a{
	color: #999;
}

footer .mainLinks li a:hover{
	color: #000;
}

footer .mainLinks .last{
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}

/*
 * Links sociales
*/

footer .social li{
	float: left;
	border-right: 1px solid #bebebe;
}

footer .social li a{
	display: block;
	width: 50px;
	height: 45px;
	background-image: url("./assets/sprite-social.png");
	background-repeat: no-repeat;
	-webkit-transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	-o-transition: background-position .3s ease;
	-ms-transition: background-position .3s ease;
	transition: background-position .3s ease;
}

	.compartir{background-position: -203px 0px;}
	.compartir:hover{background-position: -203px -45px;}

	.facebook{background-position: -153px 0px;}
	.facebook:hover{background-position: -153px -45px;}

	.twitter{background-position: -102px 0px;}
	.twitter:hover{background-position: -102px -45px;}

	.youtube{background-position: -51px 0px;}
	.youtube:hover{background-position: -51px -45px;}

	.contacto{background-position: 0px 0px;}
	.contacto:hover{background-position: 0px -45px;}


/*
 * Buscador
*/

footer .buscador{
	margin-left: 0px;
	margin-top: 6px;
	position: relative;
}

footer .buscador input[type="text"]{
	-moz-box-shadow: inset 0 0 6px #CCC;
	-webkit-box-shadow: inset 0 0 6px #CCC;
	box-shadow: inset 0 0 6px #CCC;
	width: 170px;
	padding: 9px 45px 9px 16px;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	font-size: 11px;
	outline: none;
}

footer .buscador input[type="submit"]{
	width: 17px;
	height: 17px;
	display: block;
	border: none;
	border-left: 1px solid #333;
	top: 7px;
	right: -7px;
	background: url("./assets/sprite-buscador.png") no-repeat top right;
	position: absolute;
	padding: 0 0 0 23px;
}

.ie7 footer .buscador input[type="submit"]{
	border: none;
}

footer .buscador input[type="submit"]:hover{
	background-position: bottom right;
}


/*
 * Boton Leer mas
*/

.leerMas{
	font-family: "din-black",Arial,Helvetica;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 20px;
	padding-left: 22px;
	display: inline-block;
	position: relative;
}

.leerMas:hover{
	color:#f7ac00;
}

.ie7 .leerMas{
	display: inline;
}

.leerMas.twoLines{
	width: 35px;
	line-height: 14px;
}

.leerMas span{
	background: #333;
	padding: 0 5px;
	color: white;
	font-family: arial;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	position: absolute;
	left: 0;
	top: 1px;
}