/* Mensajes */
.contenedor-principal .mensaje-confirmacion section.content{
    padding: 0 20px 20px;
    width: 810px;
}

.contenedor-principal .mensaje-confirmacion .destacado {
    background: url("./assets/destacado-adhesion-completo.jpg") center top no-repeat;
    padding-top: 36px;
}

.contenedor-principal .mensaje-confirmacion section.content h3{
    text-transform: uppercase;
    line-height: 22px;
    border-bottom: 4px solid #ddd;
    margin-bottom: 40px;
    font-size: 15px;
    color: #4f4f4f;
    padding-bottom: 20px;
}