/******** HOME *********/

.galeria-bg{
	background: #f2efeb;
}

.galeria-cont{
    position: relative;
    height: 398px;
    width: 1200px;
    margin: 0 auto;
    z-index: 0;
}


.contenedor-principal .home section.content .bloque img{
    margin-bottom: 6px;
    border-top: none;
    float: left;
}


.contenedor-principal .home section.content a.bloque:hover h2{
    background: #192853;
}