body{
	background: #d4d4d4 url("../img/home/bg-home.jpg")
}


/*
 * Elementos que usan el Sprite
*/
article .info h3,
.quote,
footer .social li a{
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
}

/*
 * Slider principal
*/
.slider{
	margin-bottom: 15px;
}

.slider .content{
	height: 335px;
	overflow:auto;
	clear:both;
}

.slider .content .images_container{
	overflow:hidden;
}

.slider .content .images_container li{
	display:block;
	float:left;
	position: relative;
}

.slider .content .images_container li > div{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	background: rgba(255,255,255,.9);
}


/*
 * Destacados en 3 columnas
*/
article .info{
	padding: 15px;
	height: 75px;
	color: #fff;
}

	.archivo-abierto .info{
		background: #f7ac00;
	}

	.interaccion .info{
		background: #00adee;
	}

	.portal-vocacion .info{
		background: #eb008b;
	}

article .info h3{
	font-size: 24px;
	text-transform: uppercase;
	word-spacing: -3px;
	padding-bottom: 15px;
	margin-bottom: 8px;
	background-position: 0px 25px;
}

	article .info h3 > span{
		font-family: "din-black","din-regular",arial;
	}

article .info p{
	font-size: 11px;
	line-height: 13px;
}

/*
 * Footer
*/
footer{
	margin-top: 10px;
}

footer .nota p{
	font-size: 11px;
	font-style: italic;
	padding-top: 24px;
	position: relative;
}

.quote{
	width: 20px;
	height: 16px;
	background-position: 0px -14px;
	position: absolute;
	left: 0;
	top: 0;
}


footer .colRight{
	text-align: right;
}

footer .social{
	margin-top: 10px;
}

footer .social li{
	display: inline-block;
	height: 30px;
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1px solid #bebebe;
}

footer .social li.last{
	margin-right: 0;
}

footer .social li a{
	display: block;
	width: 20px;
	height: 20px;
	margin-top: 3px;
}

	.flinkin{
		background-position: 2px -35px;
	}

	.facebook{
		background-position: 5px -58px;
	}

	.twitter{
		background-position: 3px -84px;
	}

	.youtube{
		background-position: 0px -111px;
	}

	.contacto{
		background-position: 1px -135px;
	}

footer .mainLinks{
	border-top: 1px solid #bebebe;
	margin-top: 8px;
	padding-top: 8px;
	display: inline-block;
}

footer .mainLinks li{
	display: inline-block;
	font-size: 10px;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #6e6e6e;
}

footer .mainLinks .last{
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}



/*
 * Media Querys
*/

@media screen and (max-height: 770px){

	.menu-principal{
		padding: 3px 0;
	}

	.slider .content{
		height: 270px;
	}

	article img{
		height: 95px;
	}

	article .info{
		padding: 10px 5px 5px 5px;
	}

}