.bloque{
	margin-bottom: 10px;
}

.bloque.img-derecha img{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	border:none;
}

.bloque.img-izquierda img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border: none;
}

.bloque article > div,
.bloque{
	-webkit-transition:background 0.5s ease-out;  /* Chrome y Safari */
	-o-transition:background 0.5s ease-out;  /* Opera */
	-moz-transition:background 0.5s ease-out;  /* Mozilla Firefox */
	-ms-transition:background 0.5s ease-out;   /* Internet Explorer */
	transition:background 0.5s ease-out;  /* W3C */
}

.bloque.no-fx article > div,
.bloque.no-fx{
	-webkit-transition:none;  /* Chrome y Safari */
	-o-transition:none;  /* Opera */
	-moz-transition:none;  /* Mozilla Firefox */
	-ms-transition:none;   /* Internet Explorer */
	transition:none;  /* W3C */
}

.contenido article > div{
	padding: 20px;
}

.contenido .row{
	clear: both;
}

/*
 * Home nuevas fronteras
*/

	/*
	 * Bloque nuevas fronteras detalle
	*/

		.nuevas-fronteras-detalle{
			width: 710px;
			height: 575px;
			margin-right: 10px;

			position: relative;
			float: left;
		}

		.nuevas-fronteras-detalle > div{
			background-color: #9e4269;
			width: 202px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
		}

		.nuevas-fronteras-detalle > div h3{
			font-size: 29px;
			font-family: "din-black";
			font-weight: normal;
			line-height: 29px;
			margin-bottom: 12px;
			text-transform: capitalize;
		}

		.nuevas-fronteras-detalle > div h3 span{
			font-size: 29px;
			font-family: "din-light";
			font-weight: normal;
			line-height: 29px;
			margin-bottom: 12px;
		}

		.nuevas-fronteras-detalle > div p{
			font-size: 14px;
			font-family: "din-regular";
			font-weight: normal;
			margin-bottom: 14px;
			line-height: 17px;
		}


	/*
	 * Bloque exploracion no convencional & Offshore
	*/

		.nuevas-fronteras .exploracion-no-convencional,
		.nuevas-fronteras .offshore{
			float: left;
			width: 480px;
			height: 186px;
			position: relative;
		}

		/*.nuevas-fronteras .exploracion-no-convencional{
			background: url("./assets/home/nuevas-fronteras/exploracion-no-convencional.jpg") no-repeat top right;
		}*/

		/*.nuevas-fronteras .offshore{
			background: url("./assets/home/nuevas-fronteras/offshore.jpg") no-repeat top right;
		}*/

		.nuevas-fronteras .exploracion-no-convencional div,
		.nuevas-fronteras .offshore div{
			width: 208px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 5;
		}

		.nuevas-fronteras .exploracion-no-convencional div{
			background: #653d7c;
		}

		.nuevas-fronteras .offshore div{
			background: #3c195c;
		}


		.nuevas-fronteras .exploracion-no-convencional div h3,
		.nuevas-fronteras .offshore div h3{
			font-size: 19px;
			font-family: "din-black";
			font-weight: normal;
			line-height: 22px;
			margin: 12px 0;
		}

		.nuevas-fronteras .exploracion-no-convencional div h3 span,
		.nuevas-fronteras .offshore div h3 span{
			font-family: "din-light";
			font-weight: normal;
			display: block;
		}

		.nuevas-fronteras .exploracion-no-convencional div p,
		.nuevas-fronteras .offshore div p{
			line-height: 16px;
		}


		/* Hovers */
		.nuevas-fronteras .exploracion-no-convencional:hover div{
			background: #442953;
		}

		.nuevas-fronteras .offshore:hover div{
			background: #240f37;
		}

		/* Color icono "More" */
		.nuevas-fronteras .exploracion-no-convencional .more{
			border-bottom-color: #442953;
		}

		.nuevas-fronteras .offshore .more{
			border-bottom-color: #240f37;
		}


	/*
	 * Bloque Plan exploratorio & OPID
	*/

		.nuevas-fronteras .plan-exploratorio,
		.nuevas-fronteras .opid{
			width: 235px;
			height: 183px;
			float: left;
			position: relative;
		}

		.nuevas-fronteras .plan-exploratorio{
			background: #66354b;
			margin-right: 10px;
		}

		.nuevas-fronteras .opid{
			background: #2b7b82;
		}

		.nuevas-fronteras .plan-exploratorio h3,
		.nuevas-fronteras .opid h3{
			font-size: 22px;
			font-family: "din-regular";
			font-weight: normal;
			line-height: 25px;
		}

		.nuevas-fronteras .plan-exploratorio h3 span,
		.nuevas-fronteras .opid h3 span{
			font-family: "din-medium";
			font-weight: normal;
			display: block;
		}

		/* Hovers */
		.nuevas-fronteras .plan-exploratorio:hover{
			background: #3f212e;
		}

		.nuevas-fronteras .opid:hover{
			background: #1a4a4e;
		}

		/* Cambio de color para icono "More" */
		.nuevas-fronteras .plan-exploratorio .more{
			border-bottom-color: #3f212e;
		}

		.nuevas-fronteras .opid .more{
			border-bottom-color: #1a4a4e;
		}



/*
 * Home desafio energetico
*/

	/* Desafio energetico detalle */

	.desafio-energetico .desafio-energetico-detalle{
		width: 710px;
		height: 384px;
		position: relative;
		float: left;
		margin-right: 10px;
	}

	.desafio-energetico .desafio-energetico-detalle div{
		background-color: #0d7b6a;
		width: 199px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
	}

	.desafio-energetico .desafio-energetico-detalle div h3{
		font-size: 29px;
		font-family: "din-medium";
		font-weight: normal;
		line-height: 30px;
		margin-bottom: 25px;
	}

	.desafio-energetico .desafio-energetico-detalle div h3 span{
		font-family: "din-light";
		font-weight: normal;
	}

	.desafio-energetico .desafio-energetico-detalle div p.desc{
		font-family: "din-regular";
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 12px;
	}

	.desafio-energetico .desafio-energetico-detalle .more{
		border-bottom-color: #084a40
	}

	.desafio-energetico .desafio-energetico-detalle:hover div{
		background-color: #084a40;
	}

	/* Shale en el mundo & Vaca muerta */

	.desafio-energetico .shale-en-el-mundo,
	/*.desafio-energetico .vaca-muerta,*/
	.desafio-energetico .energia-para-el-crecimiento{
		float: left;
		width: 480px;
		height: 186px;
		position: relative;
	}

	/*.desafio-energetico .shale-en-el-mundo{
		background: url("./assets/home/desafio-energetico/shale-en-el-mundo.jpg") top right no-repeat;
	}*/

	/*.desafio-energetico .vaca-muerta{
		background: url("./assets/home/desafio-energetico/vaca-muerta.jpg") top right no-repeat;
	}*/

	/*.desafio-energetico .energia-para-el-crecimiento{
		background: url("./assets/home/desafio-energetico/energia-para-el-crecimiento.jpg") top right no-repeat;
	}*/

	.desafio-energetico .shale-en-el-mundo div,
	/*.desafio-energetico .vaca-muerta div,*/
	.desafio-energetico .energia-para-el-crecimiento div{
		width: 208px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
	}

		.desafio-energetico .shale-en-el-mundo div{
			background: #b78c17;
		}

		.desafio-energetico .vaca-muerta div{
			background: #6c6a2c;
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
		}

		.desafio-energetico .mitos-verdades div{
			background: #6d8711;
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
		}

		.desafio-energetico .energia-para-el-crecimiento div{
			background: #306f57;
		}

		/* Hovers */
		.desafio-energetico .shale-en-el-mundo:hover div{
			background: #7b5e10;
		}

		.desafio-energetico .vaca-muerta:hover div{
			background: #41401a;
			position: absolute;
		}

		.desafio-energetico .mitos-verdades:hover div{
			background: #516313;
			position: absolute;
		}

		.desafio-energetico .vaca-muerta > article{
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
		}

		.desafio-energetico .energia-para-el-crecimiento:hover div{
			background: #1d4334;
		}

		/* Cambio de color para icono "More" */
		.desafio-energetico .shale-en-el-mundo .more{
			border-bottom-color: #7b5e10;
		}

		.desafio-energetico .vaca-muerta .more{
			border-bottom-color: #41401a;
		}

		.desafio-energetico .energia-para-el-crecimiento .more{
			border-bottom-color: #1d4334;
		}

		.desafio-energetico .mitos-verdades .more{
			border-bottom-color: #516313;
		}

	.desafio-energetico .shale-en-el-mundo div h3,
	.desafio-energetico .vaca-muerta div h3,
	.desafio-energetico .mitos-verdades div h3,
	.desafio-energetico .energia-para-el-crecimiento div h3,
	.desafio-energetico .argentina-un-pais-con-futuro div h3,
	.desafio-energetico .que-es-shale div h3,
	.desafio-energetico .recursos-convencionales div h3{
		font-family: "din-black";
		font-weight: normal;
		font-size: 19px;
		line-height: 22px;
	}

	.desafio-energetico .shale-en-el-mundo div h3 span,
	.desafio-energetico .vaca-muerta div h3 span,
	.desafio-energetico .mitos-verdades div h3 span,
	.desafio-energetico .energia-para-el-crecimiento div h3 span,
	.desafio-energetico .argentina-un-pais-con-futuro div h3 span,
	.desafio-energetico .que-es-shale div h3 span,
	.desafio-energetico .recursos-convencionales div h3 span{
		font-family: "din-light";
		font-weight: normal;
		display: block;
	}

	.desafio-energetico .que-es-shale div h3 span{
		display: inline;
	}

	/* estilos solo para que es Shale, energia para el crecimiento */

	.desafio-energetico .energia-para-el-crecimiento{
		width: 465px;
		margin-right: 10px;
		float: left;
		clear: both;
	}

	.ie7 .desafio-energetico .energia-para-el-crecimiento{
		width: 474px;
	}

	.desafio-energetico .energia-para-el-crecimiento div{
		width: 196px;
	}



	/* Recursos convencionales */

	.desafio-energetico .recursos-convencionales,
	.desafio-energetico .argentina-un-pais-con-futuro,
	.desafio-energetico .que-es-shale,
	.desafio-energetico .mitos-verdades,
	.desafio-energetico .vaca-muerta{
		width: 235px;
		height: 186px;
		float: left;
		position: relative;
		margin-right: 10px;
	}

	.desafio-energetico .mitos-verdades{
		margin-right: 0;
	}

	.ie7 .desafio-energetico .recursos-convencionales,
	.ie7 .desafio-energetico .argentina-un-pais-con-futuro,
	.ie7 .desafio-energetico .que-es-shale{
		width: 232px;
	}


	.desafio-energetico .recursos-convencionales{
		background: #ac9e2c;
		margin-right: 0;
	}

	.desafio-energetico .que-es-shale{
		background: #77b8a2;
	}

	.desafio-energetico .argentina-un-pais-con-futuro{
		background: #12928a;
	}

	.desafio-energetico .recursos-convencionales div h3{
		font-size: 22px;
		line-height: 25px;
	}

		/* Hovers */
		.desafio-energetico .recursos-convencionales:hover{
			background: #675f1a;
		}

		.desafio-energetico .argentina-un-pais-con-futuro:hover{
			background: #0b5853;
		}

		.desafio-energetico .que-es-shale:hover{
			background: #476e61;
		}

		/* Cambio de color para icono "More" */
		.desafio-energetico .recursos-convencionales .more{
			border-bottom-color: #675f1a;
		}

		.desafio-energetico .argentina-un-pais-con-futuro .more{
			border-bottom-color: #0b5853;
		}

		.desafio-energetico .que-es-shale .more{
			border-bottom-color: #476e61;
		}


/*
 * Home nuestra energia
*/

	.nuestra-energia .nuestra-energia-detalle{
		width: 710px;
		height: 578px;
		float: left;
		background: url("./assets/home/nuestra-energia/nuestra-energia-detalle.jpg") top right no-repeat;
		margin-right: 10px;
	}

	.nuestra-energia .nuestra-energia-detalle h3{
		font-size: 29px;
		font-family: "din-black";
		font-weight: normal;
		line-height: 30px;
	}

	.nuestra-energia .nuestra-energia-detalle h3 span{
		font-family: "din-light";
		font-weight: normal;
		display: block;
	}

	.nuestra-energia .nuestra-energia-detalle .video{
		margin: 70px auto 0 auto;
		display: block;
		width: 615px;
	}

	/* Bloques de la derecha */

	.nuestra-energia .bloque2{
		float: left;
		width: 480px;
		height: 186px;
		position: relative;
	}

		.nuestra-energia .historia{
			background: url("./assets/home/nuestra-energia/historia.jpg") top right no-repeat;
		}

		.nuestra-energia .comentarios{
			background: url("./assets/home/nuestra-energia/comentarios.jpg") top right no-repeat;
		}

		.nuestra-energia .backstage{
			background: url("./assets/home/nuestra-energia/backstage.jpg") top right no-repeat;
		}

	.nuestra-energia .bloque2 div{
		width: 208px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	}

		.nuestra-energia .historia div{
			background: #7e2309;
		}

		.nuestra-energia .comentarios div{
			background: #dba531;
		}

		.nuestra-energia .backstage div{
			background: #a45807;
		}

		/* Hovers */
		.nuestra-energia .historia:hover div{
			background: #551806;
		}

		.nuestra-energia .comentarios:hover div{
			background: #83631d;
		}

		.nuestra-energia .backstage:hover div{
			background: #663704;
		}


		/* Cambio de color para icono "More" */
		.nuestra-energia .historia .more{
			border-bottom-color: #551806;
		}

		.nuestra-energia .comentarios .more{
			border-bottom-color: #83631d;
		}

		.nuestra-energia .backstage .more{
			border-bottom-color: #663704;
		}

	.nuestra-energia .bloque2 h3{
		font-size: 22px;
		font-family: "din-medium";
		font-weight: normal;
	}



/*
 * Home compromiso
*/

	/* Desafio energetico detalle */

	.compromiso .intro{
		width: 710px;
		height: 384px;
		/*background: url("./assets/home/compromiso/intro.jpg") top right no-repeat;*/
		position: relative;
		float: left;
		margin-right: 10px;
	}

	.compromiso .intro div{
		background-color: #0067aa;
		width: 202px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
	}

	.compromiso .intro div h3{
		font-size: 29px;
		font-family: "din-medium";
		font-weight: normal;
		line-height: 30px;
		margin-bottom: 35px;
		margin-top: 20px;
	}

	.compromiso .intro div h3 span{
		font-family: "din-light";
		font-weight: normal;
	}

	.compromiso .intro div p{
		font-family: "din-regular";
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 12px;
	}

	/* Shale en el mundo & Vaca muerta */

	.compromiso .educar,
	.compromiso .desarrollo,
	.compromiso .calidad,
	.compromiso .tecnologia{
		float: left;
		width: 480px;
		height: 186px;
		position: relative;
	}

	/*.compromiso .educar{
		background: url("./assets/home/compromiso/educar.jpg") top right no-repeat;
	}*/

	/*.compromiso .desarrollo{
		background: url("./assets/home/compromiso/desarrollo-regional.jpg") top right no-repeat;
	}*/

	/*.compromiso .calidad{
		background: url("./assets/home/compromiso/calidad.jpg") top right no-repeat;
	}
*/
	/*.compromiso .tecnologia{
		background: url("./assets/home/compromiso/tecnologia.jpg") top right no-repeat;
	}*/

	.compromiso .educar div,
	.compromiso .desarrollo div,
	.compromiso .calidad div,
	.compromiso .tecnologia div{
		width: 208px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
	}

		.compromiso .educar div{
			background: #49008d;
		}

		.compromiso .desarrollo div{
			background: #2e2275;
		}

		.compromiso .calidad div{
			background: #0f8cb0;
		}

		.compromiso .tecnologia div{
			background: #004762;
		}

		/* Hovers */
		.compromiso .educar:hover div{
			background: #31005f;
		}

		.compromiso .desarrollo:hover div{
			background: #1c1446;
		}

		.compromiso .calidad:hover div{
			background: #09546a;
		}

		.compromiso .tecnologia:hover div{
			background: #002b3b;
		}

		/* Cambio de color para icono "More" */
		.compromiso .educar .more{
			border-bottom-color: #31005f;
		}

		.compromiso .desarrollo .more{
			border-bottom-color: #1c1446;
		}

		.compromiso .calidad .more{
			border-bottom-color: #09546a;
		}

		.compromiso .tecnologia .more{
			border-bottom-color: #002b3b;
		}

	.compromiso .educar div h3,
	.compromiso .desarrollo div h3,
	.compromiso .calidad div h3,
	.compromiso .tecnologia div h3,
	.compromiso .que-es-shale div h3{
		font-family: "din-black";
		font-weight: normal;
		font-size: 19px;
		line-height: 22px;
	}

	.compromiso .educar div h3 span,
	.compromiso .desarrollo div h3 span,
	.compromiso .calidad div h3 span,
	.compromiso .tecnologia div h3 span,
	.compromiso .que-es-shale div h3 span{
		font-family: "din-light";
		font-weight: normal;
		display: block;
	}

	.compromiso .desarrollo,
	.compromiso .tecnologia{
		width: 472px;
		margin-right: 10px;
	}

	/* Recursos convencionales */

	.compromiso .investigacion{
		width: 235px;
		height: 186px;
		float: left;
		position: relative;
	}

	.compromiso .investigacion{
		background: #00aba9;
	}

	.compromiso .investigacion div h3{
		font-size: 22px;
		line-height: 25px;
	}

		/* Hovers */
		.compromiso .investigacion:hover{
			background: #006765;
		}

		/* Cambio de color para icono "More" */
		.compromiso .investigacion .more{
			border-bottom-color: #006765;
		}



/* HOME Cadena de Energia */


.cadena-de-energia .col{
	width:975px;
	float: left;
}

.cadena-de-energia .foto1{
	width: 563px;
	height: 288px;
	position: relative;
	float: left;
	margin-right: 15px;
}

.cadena-de-energia .ver-mas{
	width: 383px;
	height: 288px;
	position: relative;
	float: left;
	margin-right: 10px;
	background: #c4a309 url("./assets/textura-amarilla.jpg");
}

.cadena-de-energia .ver-mas div h3{
	font-family: "din-black";
	font-weight: normal;
	font-size: 35px;
	line-height: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.cadena-de-energia .ver-mas div h3 span{
	font-family: "din-light";
	font-weight: normal;
	display: block;
}

.cadena-de-energia .ver-mas div p.desc{
	font-family: "din-regular";
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;
	margin-bottom: 12px;
}

	.cadena-de-energia .ver-mas:hover{
		background: #705c00;
	}

	/* Cambio de color para icono "More" */
	.cadena-de-energia .ver-mas .more{
		border-bottom-color: #705c00;
	}


.cadena-de-energia .foto2,
.cadena-de-energia .foto3{
	float: left;
	margin-right: 15px;
	margin-top: 4px;
}

.cadena-de-energia .foto3{
	margin-right: 0;
}

.cadena-de-energia .foto4{
	width: 223px;
	height: 484px;
	position: relative;
	float: left;
	margin-right: 0;
}



/*
 * NOVEDADES
*/


/* Nota principal */

	.novedades a img{
		border: none;
	}

	.novedades .date{
		color: #8e8e8e;
		font-family: "din-medium";
		font-weight: normal;
		font-size: 12px;
		margin-bottom: 15px;
		display: block;
	}

	.novedades .nota-principal{
		width: 710px;
		height: 384px;
		position: relative;
		float: left;
		margin-right: 10px;
		overflow: hidden;
	}

	.novedades .nota-principal img{
		float: right;
	}

	.novedades .nota-principal div{
		background-color: #222;
		width: 199px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	}

	.novedades .nota-principal div h3{
		font-size: 19px;
		font-family: "din-medium";
		font-weight: normal;
		line-height: 22px;
		margin-bottom: 20px;
	}

	.novedades .nota-principal div p.desc{
		font-family: "din-regular";
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 12px;
	}

	.novedades .nota-principal .more{
		border-bottom-color: #b88d00
	}

	.novedades .nota-principal:hover div{
		background-color: #b88d00;
	}

	.novedades .nota-principal:hover .date{
		color: #fff;
	}


	.novedades .lista-notas{
		float: left;
		width: 478px;
		background: #333333;
		height: 383px;
		overflow: hidden;
		position: relative;
	}

	.novedades .lista-notas .scrollCustom{
		height: 320px;
		position: relative;
	}

	.novedades .lista-notas h3{
		font-family: "din-black";
		text-transform: uppercase;
		padding: 0 20px;
		font-size: 16px;
		font-weight: normal;
		line-height: 50px;
	}

	.novedades .lista-notas a.nota{
		display: block;
		-webkit-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		background: transparent;
	}

	.novedades .lista-notas a.nota:hover{
		background: #222;
	}

	.novedades .lista-notas a.nota:hover .date{
		color: #fff;
	}

	.novedades .lista-notas article{
		padding: 18px 20px 15px 115px;
		border-top: 1px solid #222;
		min-height: 70px;
		position: relative;
	}

	.novedades .lista-notas .foto{
		position: absolute;
		left: 20px;
		top: 12px;
	}

	.novedades .lista-notas article h4{
		font-family: "din-medium";
		font-size: 14px;
		font-weight: normal;
		color: #fff;
		line-height: 18px;
	}

/* Notas inferiores */
	.novedades .notas{
		float: left;
		width: 480px;
		height: 186px;
		position: relative;
		background: #333333;
	}

	.novedades .notas:hover .date{
		color: #fff;
	}

	.novedades .notas div h3{
		font-family: "din-medium";
		font-weight: normal;
		font-size: 15px;
		line-height: 19px;
	}



	.novedades .nota-secundaria{
		width: 465px;
		margin-right: 10px;
		float: left;
		clear: both;
		overflow: hidden;
	}

	.ie7 .novedades .nota-secundaria{
		width: 474px;
	}

	.novedades .nota-secundaria div{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		background: #333333;
		width: 185px;
	}

	/* Hovers */
	.novedades .nota-secundaria:hover div{
		background: #650476;
	}

	/* Cambio de color para icono "More" */
	.novedades .nota-secundaria .more{
		border-bottom-color: #650476;
	}


	.novedades .nota3,
	.novedades .nota4,
	.novedades .nota5{
		width: 235px;
		height: 186px;
		float: left;
		position: relative;
		margin-right: 10px;
	}

	.ie7 .novedades .nota3,
	.ie7 .novedades .nota4,
	.ie7 .novedades .nota5{
		width: 232px;
	}

	.novedades .nota5{
		margin-right: 0;
	}

		/* Hovers */
		.novedades .nota3:hover{
			background: #0b5853;
		}

		.novedades .nota4:hover{
			background: #476e61;
		}

		.novedades .nota5:hover{
			background: #77b8a2;
		}

		/* Cambio de color para icono "More" */
		.novedades .nota3 .more{
			border-bottom-color: #0b5853;
		}

		.novedades .nota4 .more{
			border-bottom-color: #476e61;
		}

		.novedades .nota5 .more{
			border-bottom-color: #77b8a2;
		}





/*
 * Home Principal
*/

	/* Desafio energetico detalle */

	.index .videos{
		width: 710px;
		height: 384px;
		position: relative;
		float: left;
		margin-right: 10px;
		overflow: hidden;
	}

	.index .videos div{
		background-color: #bea30e;
		width: 199px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
	}

	.index .videos div h3{
		font-size: 29px;
		font-family: "din-medium";
		font-weight: normal;
		line-height: 30px;
		margin-bottom: 25px;
	}

	.index .videos div h3 span{
		font-family: "din-light";
		font-weight: normal;
	}

	.index .videos div p.desc{
		font-family: "din-regular";
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 12px;
	}

	.index .videos .more{
		border-bottom-color: #766509;
	}

	.index .videos:hover div{
		background-color: #766509;
	}





	.index .lista-notas{
		float: left;
		width: 478px;
		background: #333333;
		height: 383px;
		overflow: hidden;
		position: relative;
	}

	.index .lista-notas .date{
		color: #8e8e8e;
		font-family: "din-medium";
		font-weight: normal;
		font-size: 12px;
		margin-bottom: 15px;
		display: block;
	}

	.index .lista-notas .scrollCustom{
		height: 320px;
		position: relative;
	}

	.index .lista-notas h3{
		font-family: "din-black";
		text-transform: uppercase;
		padding: 0 20px;
		font-size: 16px;
		font-weight: normal;
		line-height: 50px;
	}

	.index .lista-notas a.nota{
		display: block;
		-webkit-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		background: transparent;
	}

	.index .lista-notas a.nota:hover{
		background: #222;
	}

	.index .lista-notas a.nota:hover .date{
		color: #fff;
	}

	.index .lista-notas article{
		padding: 18px 20px 15px 115px;
		border-top: 1px solid #222;
		min-height: 70px;
		position: relative;
	}

	.index .lista-notas .foto{
		position: absolute;
		left: 20px;
		top: 12px;
	}

	.index .lista-notas article h4{
		font-family: "din-medium";
		font-size: 14px;
		font-weight: normal;
		color: #fff;
		line-height: 18px;
	}

	.index .tecnologia-especializada div,
	.index .energia-para-el-crecimiento div{
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 5;
		left: 0;
		right: auto;
		width: 200px;
	}



	.index .cadena-de-energia div h3,
	.index .tecnologia-especializada div h3,
	.index .energia-para-el-crecimiento div h3,
	.index .mitos-verdades div h3,
	.index .exploracion-no-convencional div h3,
	.index .preguntas-respuestas div h3{
		font-family: "din-black";
		font-weight: normal;
		font-size: 19px;
		line-height: 22px;
	}

	.index .tecnologia-especializada div h3,
	.index .energia-para-el-crecimiento div h3,
	.index .cadena-de-energia div h3{
		font-size: 22px;
		line-height: 24px;
		margin-top: 48px;
	}

	.index .tecnologia-especializada div h3,
	.index .energia-para-el-crecimiento div h3{
		margin-top: 30px;
	}


	.index .preguntas-respuestas div h3{
		margin-top: 48px;
	}

	.index .cadena-de-energia div h3 span,
	.index .tecnologia-especializada div h3 span,
	.index .energia-para-el-crecimiento div h3 span,
	.index .mitos-verdades div h3 span,
	.index .exploracion-no-convencional div h3 span,
	.index .preguntas-respuestas div h3 span{
		font-family: "din-light";
		font-weight: normal;
		display: block;
	}

	.index .mitos-verdades div h3 span,
	.index .exploracion-no-convencional div h3 span{
		display: inline;
	}


	/* estilos solo para que es Shale, energia para el crecimiento */

	.index .tecnologia-especializada,
	.index .energia-para-el-crecimiento{
		height: 187px;
		margin-right: 10px;
		float: left;
		position: relative;
	}

	.ie7 .index .tecnologia-especializada,
	.ie7 .index .energia-para-el-crecimiento{
		width: 464px;
	}

	.index .tecnologia-especializada{
		background: #2e2275;
		clear: both;
		width: 470px;
	}

	.index .tecnologia-especializada .more{
		border-bottom-color: #31005f;
	}

	.index .tecnologia-especializada:hover{
		background: #31005f;
	}

	.index .energia-para-el-crecimiento{
		background: #017c6a;
		width: 478px;
	}

	.index .energia-para-el-crecimiento .more{
		border-bottom-color: #07574b;
	}

	.index .energia-para-el-crecimiento:hover{
		background: #07574b;
	}

	/* Recursos convencionales */

	.index .preguntas-respuestas,
	.index .mitos-verdades,
	.index .cadena-de-energia,
	.index .exploracion-no-convencional{
		width: 230px;
		height: 186px;
		float: left;
		position: relative;
		margin-right: 10px;
	}


	.ie7 .index .preguntas-respuestas,
	.ie7 .index .mitos-verdades,
	.ie7 .index .cadena-de-energia,
	.ie7 .index .exploracion-no-convencional{
		width: 232px;
	}

	.index .preguntas-respuestas{
		margin-right: 0;
		background: #a65901;
	}

	.index .preguntas-respuestas div{
		background: url("assets/ic_preguntas-home.png") no-repeat 20px 35px;
	}

	.index .mitos-verdades{
		background: #6d8800;
	}

	.index .exploracion-no-convencional{
		background: #653d7c;
	}

		/* Hovers */
		.index .preguntas-respuestas:hover{
			background: #663700;
		}

		.index .mitos-verdades:hover{
			background: #516407;
		}

		.index .exploracion-no-convencional:hover{
			background: #452a55;
		}

		/* Cambio de color para icono "More" */
		.index .preguntas-respuestas .more{
			border-bottom-color: #663700;
		}

		.index .mitos-verdades .more{
			border-bottom-color: #516407;
		}

		.index .exploracion-no-convencional .more{
			border-bottom-color: #452a55;
		}


	.index .cadena-de-energia{
		background: #ba8b01 url("./assets/textura-amarilla.jpg");
	}

		/* Hovers */

		.index .cadena-de-energia:hover{
			background: #6f5c00;
		}

		/* Cambio de color para icono "More" */

		.index .cadena-de-energia .more{
			border-bottom-color: #6f5c00;
		}


	/* Sabias que */

	.index .sabias-que{
		width: 478px;
		height: 187px;
		background: #2a2a2a;
		margin-right: 0;
		float: left;
	}

	.index .sabias-que h3{
		font-family: "din-light";
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 18px;
		padding-left: 30px;
		background: url("./assets/sabias-que.png") no-repeat left center;
	}

	.index .sabias-que p{
		font-size: 13px;
		line-height: 20px;
	}



	/* Exploracion no convecional */
/*
	.index .exploracion-no-convencional{
		float: left;
		width: 478px;
		height: 186px;
		position: relative;
	}

	.index .exploracion-no-convencional h3{
		font-family: "din-light";
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 18px;
	}

	.index .exploracion-no-convencional div{
		background: #743882;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.index .exploracion-no-convencional img{
		top: 10px;
		right: 35px;
	}
*/

	/* Cambio de color para icono "More" */

		/*.index .exploracion-no-convencional .more{
			border-bottom-color: #452a55;
		}

		.index .exploracion-no-convencional div:hover{
			background: #452a55;
		}*/




