/******** HOME *********/

.galeria-bg{
	background: #f2efeb;
	margin-top: -34px;
}

.galeria-cont{
    position: relative;
    /*height: 398px;*/
    /*width: 1200px;*/
    height: 398px;
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
    margin: 0 auto;
    z-index: 0;
}

.home section.content .bloque{
	margin-bottom: 15px;
	width: 410px;
}

.home section.content .bloque img{
	border-top: 4px solid #3cb1bb;
	float: left;
	margin-bottom: 10px;
}

.home section.content .bloque h2{
    color: #000;
	font-size: 24px;
	font-weight: normal;
	font-family: "din-medium";
	line-height: 28px;
	text-transform: uppercase;
	clear: left;
}

.home section.content .bloque .link-ppal{
    font-family: "din-black";
    text-transform: 13px;
    text-transform: uppercase;
    color: #636363;
    display: inline-block;
}

.home section.content .bloque .link-ppal span{
    background: url("./assets/ic-link-bloque.png") right center no-repeat;
    padding-right: 10px;
    display: inline-block;
}