

.bloque{
	margin-bottom: 10px;
}

.bloque article > div,
.bloque{
	-webkit-transition:background 0.5s ease-out;  /* Chrome y Safari */
	-o-transition:background 0.5s ease-out;  /* Opera */
	-moz-transition:background 0.5s ease-out;  /* Mozilla Firefox */
	-ms-transition:background 0.5s ease-out;   /* Internet Explorer */
	transition:background 0.5s ease-out;  /* W3C */
}

.bloque.no-fx article > div,
.bloque.no-fx{
	-webkit-transition:none;  /* Chrome y Safari */
	-o-transition:none;  /* Opera */
	-moz-transition:none;  /* Mozilla Firefox */
	-ms-transition:none;   /* Internet Explorer */
	transition:none;  /* W3C */
}

.contenido article > div{
	padding: 20px;
}



/*
 * Home nuevas fronteras
*/

	/*
	 * Bloque nuevas fronteras detalle
	*/

		.nuevas-fronteras-detalle{
			width: 704px;
			height: 575px;
			margin-right: 10px;
			background: url("./assets/home/nuevas-fronteras/nuevas-fronteras-detalle.jpg") no-repeat top right;
			position: relative;
			float: left;
		}

		.nuevas-fronteras-detalle > div{
			background-color: #9e4269;
			width: 198px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
		}

		.nuevas-fronteras-detalle > div h3{
			font-size: 29px;
			font-family: "din-medium";
			font-weight: normal;
			line-height: 29px;
			margin-bottom: 12px;
			text-transform: capitalize;
		}

		.nuevas-fronteras-detalle > div h3 span{
			font-size: 29px;
			font-family: "din-light";
			font-weight: normal;
			line-height: 29px;
			margin-bottom: 12px;
		}

		.nuevas-fronteras-detalle > div p{
			font-size: 14px;
			font-family: "din-regular";
			font-weight: normal;
			margin-bottom: 14px;
			line-height: 17px;
		}


	/*
	 * Bloque exploracion no convencional & Offshore
	*/

		.nuevas-fronteras .exploracion-no-convencional,
		.nuevas-fronteras .offshore{
			float: left;
			width: 486px;
			height: 186px;
			position: relative;
		}

		.nuevas-fronteras .exploracion-no-convencional{
			background: url("./assets/home/nuevas-fronteras/exploracion-no-convencional.jpg") no-repeat top right;
		}

		.nuevas-fronteras .offshore{
			background: url("./assets/home/nuevas-fronteras/offshore.jpg") no-repeat top right;
		}

		.nuevas-fronteras .exploracion-no-convencional div,
		.nuevas-fronteras .offshore div{
			width: 208px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
		}

		.nuevas-fronteras .exploracion-no-convencional div{
			background: #653d7c;
		}

		.nuevas-fronteras .offshore div{
			background: #3c195c;
		}


		.nuevas-fronteras .exploracion-no-convencional div h3,
		.nuevas-fronteras .offshore div h3{
			font-size: 19px;
			font-family: "din-black";
			font-weight: normal;
			line-height: 22px;
			margin: 12px 0;
		}

		.nuevas-fronteras .exploracion-no-convencional div h3 span,
		.nuevas-fronteras .offshore div h3 span{
			font-family: "din-light";
			font-weight: normal;
			display: block;
		}

		.nuevas-fronteras .exploracion-no-convencional div p,
		.nuevas-fronteras .offshore div p{
			line-height: 16px;
		}


		/* Hovers */
		.nuevas-fronteras .exploracion-no-convencional:hover div{
			background: #442953;
		}

		.nuevas-fronteras .offshore:hover div{
			background: #240f37;
		}

		/* Color icono "More" */
		.nuevas-fronteras .exploracion-no-convencional .more{
			border-bottom-color: #442953;
		}

		.nuevas-fronteras .offshore .more{
			border-bottom-color: #240f37;
		}


	/*
	 * Bloque Plan exploratorio & OPID
	*/

		.nuevas-fronteras .plan-exploratorio,
		.nuevas-fronteras .opid{
			width: 238px;
			height: 183px;
			float: left;
			position: relative;
		}

		.nuevas-fronteras .plan-exploratorio{
			background: #66354b;
			margin-right: 10px;
		}

		.nuevas-fronteras .opid{
			background: #2b7b82;
		}

		.nuevas-fronteras .plan-exploratorio h3,
		.nuevas-fronteras .opid h3{
			font-size: 22px;
			font-family: "din-regular";
			font-weight: normal;
			line-height: 25px;
		}

		.nuevas-fronteras .plan-exploratorio h3 span,
		.nuevas-fronteras .opid h3 span{
			font-family: "din-medium";
			font-weight: normal;
			display: block;
		}

		/* Hovers */
		.nuevas-fronteras .plan-exploratorio:hover{
			background: #3f212e;
		}

		.nuevas-fronteras .opid:hover{
			background: #1a4a4e;
		}

		/* Cambio de color para icono "More" */
		.nuevas-fronteras .plan-exploratorio .more{
			border-bottom-color: #3f212e;
		}

		.nuevas-fronteras .opid .more{
			border-bottom-color: #1a4a4e;
		}



/*
 * Home desafio energetico
*/

	/* Desafio energetico detalle */

	.desafio-energetico .desafio-energetico-detalle{
		width: 705px;
		height: 384px;
		background: url("./assets/home/desafio-energetico/desafio-energetico-detalle.jpg") top right no-repeat;
		position: relative;
		float: left;
		margin-right: 10px;
	}

	.desafio-energetico .desafio-energetico-detalle div{
		background-color: #0d7b6a;
		width: 197px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	}

	.desafio-energetico .desafio-energetico-detalle div h3{
		font-size: 29px;
		font-family: "din-black";
		font-weight: normal;
		line-height: 30px;
		margin-bottom: 12px;
	}

	.desafio-energetico .desafio-energetico-detalle div h3 span{
		font-family: "din-light";
		font-weight: normal;
	}

	.desafio-energetico .desafio-energetico-detalle div p{
		font-family: "din-regular";
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 12px;
	}


	/* Shale en el mundo & Vaca muerta */

	.desafio-energetico .shale-en-el-mundo,
	.desafio-energetico .vaca-muerta,
	.desafio-energetico .que-es-shale,
	.desafio-energetico .energia-para-el-crecimiento{
		float: left;
		width: 485px;
		height: 186px;
		position: relative;
	}

	.desafio-energetico .shale-en-el-mundo{
		background: url("./assets/home/desafio-energetico/shale-en-el-mundo.jpg") top right no-repeat;
	}

	.desafio-energetico .vaca-muerta{
		background: url("./assets/home/desafio-energetico/vaca-muerta.jpg") top right no-repeat;
	}

	.desafio-energetico .que-es-shale{
		background: url("./assets/home/desafio-energetico/que-es-shale.jpg") top right no-repeat;
	}

	.desafio-energetico .energia-para-el-crecimiento{
		background: url("./assets/home/desafio-energetico/energia-para-el-crecimiento.jpg") top right no-repeat;
	}

	.desafio-energetico .shale-en-el-mundo div,
	.desafio-energetico .vaca-muerta div,
	.desafio-energetico .que-es-shale div,
	.desafio-energetico .energia-para-el-crecimiento div{
		width: 208px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	}

		.desafio-energetico .shale-en-el-mundo div{
			background: #b78c17;
		}

		.desafio-energetico .vaca-muerta div{
			background: #6c6a2c;
		}

		.desafio-energetico .que-es-shale div{
			background: #77b8a2;
		}

		.desafio-energetico .energia-para-el-crecimiento div{
			background: #469fa2;
		}

		/* Hovers */
		.desafio-energetico .shale-en-el-mundo:hover div{
			background: #7b5e10;
		}

		.desafio-energetico .vaca-muerta:hover div{
			background: #41401a;
		}

		.desafio-energetico .que-es-shale:hover div{
			background: #476e61;
		}

		.desafio-energetico .energia-para-el-crecimiento:hover div{
			background: #2b6364;
		}

		/* Cambio de color para icono "More" */
		.desafio-energetico .shale-en-el-mundo .more{
			border-bottom-color: #7b5e10;
		}

		.desafio-energetico .vaca-muerta .more{
			border-bottom-color: #41401a;
		}

		.desafio-energetico .que-es-shale .more{
			border-bottom-color: #476e61;
		}

		.desafio-energetico .energia-para-el-crecimiento .more{
			border-bottom-color: #2b6364;
		}

	.desafio-energetico .shale-en-el-mundo div h3,
	.desafio-energetico .vaca-muerta div h3,
	.desafio-energetico .que-es-shale div h3,
	.desafio-energetico .energia-para-el-crecimiento div h3{
		margin: 10px 0;
		font-family: "din-black";
		font-weight: normal;
		font-size: 19px;
		line-height: 22px;
	}

	.desafio-energetico .shale-en-el-mundo div h3 span,
	.desafio-energetico .vaca-muerta div h3 span,
	.desafio-energetico .que-es-shale div h3 span,
	.desafio-energetico .energia-para-el-crecimiento div h3 span{
		font-family: "din-light";
		font-weight: normal;
		display: block;
	}

	.desafio-energetico .shale-en-el-mundo p,
	.desafio-energetico .vaca-muerta p,
	.desafio-energetico .que-es-shale p,
	.desafio-energetico .energia-para-el-crecimiento p{
		line-height: 16px;
	}


	/* estilos solo para que es Shale, energia para el crecimiento */
	.desafio-energetico .que-es-shale {
		clear: both;
		float: left;
	}

	.desafio-energetico .que-es-shale,
	.desafio-energetico .energia-para-el-crecimiento{
		width: 471px;
		margin-right: 10px;
	}

	.ie7 .desafio-energetico .que-es-shale,
	.ie7 .desafio-energetico .energia-para-el-crecimiento{
		width: 480px;
	}

	.desafio-energetico .que-es-shale div,
	.desafio-energetico .energia-para-el-crecimiento div{
		width: 196px;
	}



	/* Recursos convencionales */

	.desafio-energetico .recursos-convencionales{
		width: 238px;
		height: 186px;
		float: left;
		position: relative;
	}

	.ie7 .desafio-energetico .recursos-convencionales{
		width: 220px;
	}



	.desafio-energetico .recursos-convencionales{
		background: #ac9e2c;
	}

	.desafio-energetico .recursos-convencionales h3{
		font-size: 22px;
		font-family: "din-regular";
		font-weight: normal;
		line-height: 25px;
	}

	.desafio-energetico .recursos-convencionales h3 span{
		font-family: "din-medium";
		font-weight: normal;
		display: block;
	}

		/* Hovers */
		.desafio-energetico .recursos-convencionales:hover{
			background: #675f1a;
		}

		/* Cambio de color para icono "More" */
		.desafio-energetico .recursos-convencionales .more{
			border-bottom-color: #675f1a;
		}


/*
 * Home nuestra energia
*/

	.nuestra-energia .nuestra-energia-detalle{
		width: 705px;
		height: 578px;
		float: left;
		background: url("./assets/home/nuestra-energia/nuestra-energia-detalle.jpg") top right no-repeat;
		margin-right: 10px;
	}

	.nuestra-energia .nuestra-energia-detalle h3{
		font-size: 29px;
		font-family: "din-black";
		font-weight: normal;
		line-height: 30px;
	}

	.nuestra-energia .nuestra-energia-detalle h3 span{
		font-family: "din-light";
		font-weight: normal;
		display: block;
	}

	.nuestra-energia .nuestra-energia-detalle .video{
		margin: 70px auto 0 auto;
		display: block;
		width: 615px;
	}

	/* Bloques de la derecha */

	.nuestra-energia .bloque2{
		float: left;
		width: 485px;
		height: 186px;
		position: relative;
	}

		.nuestra-energia .historia{
			background: url("./assets/home/nuestra-energia/historia.jpg") top right no-repeat;
		}

		.nuestra-energia .comentarios{
			background: url("./assets/home/nuestra-energia/comentarios.jpg") top right no-repeat;
		}

		.nuestra-energia .backstage{
			background: url("./assets/home/nuestra-energia/backstage.jpg") top right no-repeat;
		}

	.nuestra-energia .bloque2 div{
		width: 208px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	}

		.nuestra-energia .historia div{
			background: #7e2309;
		}

		.nuestra-energia .comentarios div{
			background: #dba531;
		}

		.nuestra-energia .backstage div{
			background: #a45807;
		}

		/* Hovers */
		.nuestra-energia .historia:hover div{
			background: #551806;
		}

		.nuestra-energia .comentarios:hover div{
			background: #83631d;
		}

		.nuestra-energia .backstage:hover div{
			background: #663704;
		}


		/* Cambio de color para icono "More" */
		.nuestra-energia .historia .more{
			border-bottom-color: #551806;
		}

		.nuestra-energia .comentarios .more{
			border-bottom-color: #83631d;
		}

		.nuestra-energia .backstage .more{
			border-bottom-color: #663704;
		}

	.nuestra-energia .bloque2 h3{
		font-size: 22px;
		font-family: "din-medium";
		font-weight: normal;
	}