/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark

http://html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	text-decoration:none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
    resize:none;
    outline:none;
}
li{list-style:none;}

strong{
	font-weight:bold;
}

/*CLEARFIX*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

.DN{display:none;}


/*@font-face {
	font-family:"big_noodle_titling";
	src: url("../fonts/big_noodle_titling-webfont.eot");
	src: local("?"),
	url("../fonts/big_noodle_titling-webfont.woof") format("woff"),
	url("../fonts/big_noodle_titling-webfont.ttf") format("truetype"),
	url("../fonts/big_noodle_titling-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family:"big_noodle_titling_oblique";
	src: url("../fonts/big_noodle_titling_oblique-webfont.eot");
	src: local("?"),
	url("../fonts/big_noodle_titling_oblique-webfont.woof") format("woff"),
	url("../fonts/big_noodle_titling_oblique-webfont.ttf") format("truetype"),
	url("../fonts/big_noodle_titling_oblique-webfont.svg#blaimim_-webfont") format("svg");
}*/


body{
}





/*Home*/

.galeria-cont{
	position: relative;
	height: 335px;
	width: 1058px;
	margin: 0 auto;
	z-index: 0;
}

.filter-container{
    background: #000;
    padding: 0 10px;
    margin: 14px 0;
}

.filter-container > p,
.filter-container > ul,
.filter-container li{
    float: left;
}

.filter-container > p{
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 6px;
    font-family: "din-light";
    font-size: 13px;
}

.filter-container > ul{
    margin-top: 10px;
}

.filter-container li a{
    color: #fff;
    text-transform: uppercase;
    background: url("./assets/sp-checkbox-filters.png") 0 1px no-repeat;
    display: inline-block;
    padding-left: 20px;
    line-height: 18px;
    margin-right: 20px;
    font-family: "din-black";
    font-size: 13px;
}

.filter-container li.checked a{
    background-position: 0 -22px;
}






.item{
    background: rgba(0,0,0,0.3);
    border-top: 2px solid #f8533d;
    width: 254px;
    position: relative;
}

.item a{
    display: block;
    padding: 12px;
}

.item h2,
.item h3{
    color: #fff;
    text-transform: uppercase;
}

.item h2{
    font-size: 19px;
    line-height: 21px;
}

.item h3{
    font-size: 27px;
    line-height: 30px;
    font-family: "din-black";
}

.item p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}


.item img{
    width: 100%;
}



.item.imagen{
    padding: 0;
    border-top: none;
}

.item.imagen h2{
    font-size: 13px;
    line-height: 22px;
    background: #f8533d;
    font-family: "din-black";
    position:absolute;
    bottom: 0;
    padding: 0 8px;
    left: 0;
    z-index: 10;
}


.item.principal{
    width: 518px;
}


.item.imagen-texto h2{
    font-size: 19px;
    line-height: 22px;
    color: #f8533d;
}