/*---- Layout ----*/
body{
    font-family: "din-medium";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    padding: 46px 0 75px;
    color: #838383;
}
.layout {
    width: 960px;
    margin: 0 auto;
}

a{
    color: #808080;
    text-decoration: none;
}

a:hover{
    color: #3a3939;
}

a.link-btn {
    display: inline-block;
    background: #ececec;
    color: #aeadad;
    font-family: "din-black";
    font-size: 13px;
    line-height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

a.link-btn:hover {
    display: inline-block;
    background: #e65834;
    color: #fff;
}

.destacado {
	height: 250px;
    margin-top: 10px;
    position: relative;
    overflow: visible;
}

section.content {
    margin-bottom: 60px;
}

section.container {
    margin-top: 20px;
}

section.container aside {
    position: static;
}

section.content h2 {
    text-transform: uppercase;
    font-size: 23px;
    line-height: 28px;
    color: #292929;
    font-family: "din-medium";
    margin-bottom: 10px;
    position: relative;
    font-weight: normal;
}

section.content p{
   margin-bottom: 10px;
}



@media (max-width: 1023px) { 
    .layout {
        width: 100%;
    }
    /*section.content .content-right {
        width: 100%;
    }*/
    section.container aside {
        margin-top: 0;
        border-top: none;
    }
}
@media (max-width: 767px) {
    html {
        height: 100%;
    }
    body {
        padding-bottom: 0;
    }
    /*.buscador-principal {
        left: 10%;
        margin: 70px 0 0 -20px;
        width: 80%;
    }*/
    section.container {
        margin-top: 0;
    }
    
}
