.lubricantes .destacado {
	background: url("../images/lubricantes/header.jpg") center top no-repeat;
}

.lubricantes .content h2{
	background: url("./assets/flag-light-blue.png") left no-repeat;
	padding-left: 14px;
	color: #3cb1bb;
	font-size: 18px;
	line-height: 22px;
}

.lubricantes .content h3{
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.lubricantes .content article{
	border-top: 1px solid #ececec;
	padding: 25px 0 10px;
}

.lubricantes .content h4{
	font-family: "din-black";
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #3cb1bb;
}

.lubricantes img.banner-img{
	margin-bottom: 20px;
}

.lubricantes .content article table{
	width: 100%;
}

.lubricantes .content article th,
.lubricantes .content article td{
	width: 28%;
	text-align: left;
}

.lubricantes .content article th{
	color: #3cb1bb;
	font-family: "din-medium";
	text-transform: uppercase;
}

.lubricantes .content article td{
	background: url("./assets/flag-light-blue.png") left 15px no-repeat;
	font-family: "din-medium";
	font-size: 14px;
	line-height: 18px;
	padding: 8px 15px;
}

.lubricantes .content .prod-dest{
	margin-top: 30px;
}

.lubricantes .content .prod-dest h3{
	background: #3cb1bb;
	padding: 0 20px;
	color: #fff;
	font-size: 18px;
	line-height: 36px;
	font-family: "din-medium";
	margin-bottom: 20px;
}

.lubricantes .content .prod-dest .prod-container{
	display: block;
	text-align: center;
	width: 140px;
	padding: 0 20px;
	float: left;
	margin-right: 20px;
	margin-bottom: 30px;
}

.lubricantes .content .prod-dest .prod-container img{
	text-align: center;
	display: inline-block;
	margin-bottom: 8px;
}

.lubricantes .content .prod-dest .prod-container p{
	margin-bottom: 4px;
	text-align: left;
}