.lubricantes .destacado {
	background: url("../images/lubricantes/header.jpg") center top no-repeat;
}

.lubricantes .content h2{
	background: url("./assets/flag-light-blue.png") left no-repeat;
	padding-left: 14px;
	color: #3cb1bb;
	font-size: 18px;
	line-height: 22px;
}

.lubricantes .content h3{
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.lubricantes .content article{
	border-top: 1px solid #ececec;
	padding: 25px 0 10px;
}

.lubricantes .content h4{
	font-family: "din-black";
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #3cb1bb;
}

.lubricantes img.banner-img{
	margin-bottom: 20px;
}

.lubricantes .content th{
	color: #3cb1bb;
	font-family: "din-medium";
	text-transform: uppercase;
}