.contenedor-principal .mod-anular-turno section.content{
    padding:0 0 20px;
    width: 850px;
}

.contenedor-principal .mod-anular-turno .destacado {
    background: url("./assets/destacado-historia-tecnica.jpg") center top no-repeat;
    padding-top: 50px;
}

.contenedor-principal .mod-anular-turno .destacado p {
    font-size: 19px;
    padding: 20px;
    font-family: 'din-regular';
}

.contenedor-principal .mod-anular-turno .heading{
	background: #0558ac;
	padding: 10px;
}

.contenedor-principal .mod-anular-turno .heading p{
	color: #fff;
	font-family: "din-black";
	font-size: 15px;
	line-height: 20px;
}

.contenedor-principal .mod-anular-turno .heading p:last-child{
	margin-bottom: 0;
}

.contenedor-principal .mod-anular-turno .heading p span{
	font-family: "din-light";
	font-size: 18px;
}

.contenedor-principal .mod-anular-turno .table-container{
	background: #f8f8f8;
}

.mod-anular-turno .content table{
    width: 100%;
}

.mod-anular-turno .content thead{
    background: #0558ac;
}

.mod-anular-turno .content th{
    text-align: left;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "din-black";
    font-size: 11px;
}

    .mod-anular-turno .content th.col1{
        width: 15%;
    }

    .mod-anular-turno .content th.col2{
        width: 10%;
    }

    .mod-anular-turno .content th.col3{
        width: 15%;
    }

    .mod-anular-turno .content th.col4{
        width: 10%;
    }

    .mod-anular-turno .content th.col5{
        width: 30%;
    }

    .mod-anular-turno .content th.col6{
        width: 10%;
    }

    .mod-anular-turno .content th.col7{
        width: 10%;
    }

    .mod-anular-turno .content td.col6,
    .mod-anular-turno .content td.col7 {
        text-align: center;
    }


.mod-anular-turno  tr:hover,
.mod-anular-turno  tr.active {
    background-color: #009fde;
}

.mod-anular-turno  tr:hover td,
.mod-anular-turno  tr.active td {
    color: #fff;
    border-color: #0d98d0;
}

.mod-anular-turno  td {
    height: 40px;
    vertical-align: middle;
    padding: 0 10px;
    border: 1px solid #e4e4e4;
}

    .mod-anular-turno  td:first-of-type {
        border-left: none;
    }

    .mod-anular-turno  td:last-of-type {
        border-right: none;
    }

.mod-anular-turno  .cancelar,
.mod-anular-turno  .modificar,
.mod-anular-turno  .confirmar {
    padding: 0;
}

.mod-anular-turno  .cancelar a,
.mod-anular-turno  .modificar a,
.mod-anular-turno  .confirmar a {
    color: #fff;
    visibility: hidden;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
}

.mod-anular-turno  .cancelar a:hover,
.mod-anular-turno  .modificar a:hover,
.mod-anular-turno  .confirmar a:hover {
    background-color: #0558ac;
}

.mod-anular-turno  tr:hover a,
.mod-anular-turno  tr.active a{
    visibility: visible;
}

.mod-anular-turno  .icon {
    display: inline-block;
    margin-right: 5px;
    background-image: url('./assets/icons_turnos.png');
    background-repeat: no-repeat;
    width: 13px;
    height: 15px;
    top: 4px;
    position: relative;
}

.mod-anular-turno  .icon.cancel {
    background-position: 0px 0px;
}

.mod-anular-turno  .icon.modify {
    background-position: 0px -17px;
}

.mod-anular-turno  .icon.check-ok {
    background-position: 0px -38px;
}

/* disabled */

.mod-anular-turno  tr.disabled {
    background-color: #f0f0f0;
}

.mod-anular-turno  tr.disabled td {
    color: #838383 !important;
    border-color: #e4e4e4 !important;
}

.mod-anular-turno  a.btn-next {
    margin-left: auto;
    margin-right: auto;
    width: 470px;
}


/* disabled + active */

.mod-anular-turno  tr.disabled.active {
    background-color: #009fde;
}

.mod-anular-turno  tr.disabled.active td {
    color: #fff !important;
    border-color: #0d98d0 !important;
}

.mod-anular-turno  tr.disabled.active a {
    visibility: visible;
}
