/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/


/*
 * Novedades
*/


.headerSections h3{
	color: #F3AE24;
}

.modulos{
	background: #fff;
	margin-bottom: 30px;
}

.modulos > div{
	padding-left: 3px;
	border-bottom: 2px solid #f7ac00;
	border-right: 2px solid #f7ac00;
}

.info{
	padding: 20px 15px;
	position: relative;
}

.info h3{
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 6px;
	text-transform: uppercase;
}

.info h4{
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 16px;
}

.destacado .info h3{
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 12px;
	text-transform: none;
}

.info p{
	font-size: 11px;
	line-height: 14px;
}

.leer-mas{
	position: absolute;
	bottom: 20px;
	text-transform: uppercase;
	background: url(../img/novedades/home/ic_ver-mas.jpg) left no-repeat;
	display: inline-block;
	padding-left: 24px;
	line-height: 20px;
	font-family: din-black;
}

.leer-mas:hover{
	color: #F3AE24;
}

.span6.modulos > div{
	padding-left: 0;
}

.span6.modulos img{
	float: left;
}

.span6.modulos .info{
	float: right;
	padding-left: 10px;
	width: 270px;
}