.novedades-internas a img{
	border: none;
}

.novedades-internas .date{
	color: #8e8e8e;
	font-family: "din-medium";
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 15px;
	display: block;
}

.novedades-internas .col-izq{
	background: #fff;
	width: 748px;
	height: 530px;
	padding: 25px;
	margin-right: 12px;
	float: left;
	position: relative;
}

.novedades-internas .col-izq .compartir{
	background-color: #600066;
}

.novedades-internas .col-izq .date{
	color: #600066;
}


.novedades-internas .col-izq h2{
	font-size: 26px;
	line-height: 30px;
	color: #333333;
	font-family: "din-black";
	font-weight: normal;
	margin-bottom: 18px;
}

.novedades-internas .col-izq h3{
	font-size: 17px;
	line-height: 22px;
	color: #767676;
	font-family: "din-medium";
	font-weight: normal;
	margin-bottom: 20px;
}


.novedades-internas .col-izq .scrollCustom{
	height: 370px;
	margin-top: 25px;
	position: relative;
}

.novedades-internas .col-izq .col1,
.novedades-internas .col-izq .col2{
	width: 46%;
	float: left;
}

.novedades-internas .col-izq .col1{
	margin-right: 4%;
}

.novedades-internas .col-izq .col1 img,
.novedades-internas .col-izq .col2 img{
	max-width: 100%;
}

.novedades-internas .col-izq .col1 .fuente,
.novedades-internas .col-izq .col2 .fuente{
	font-size: 10px;
}

.novedades-internas article p{
	font-size: 14px;
	line-height: 19px;
	color: #767676;
	font-family: "din-medium";
	font-weight: normal;
	margin-bottom: 10px;
}




/* COLUMNA DERECHA */

.novedades-internas .lista-notas{
	float: left;
	width: 390px;
	background: #333333;
	height: 580px;
	margin-right: 0;
	position: relative;
}

.novedades-internas .lista-notas .scrollCustom{
	height: 515px;
	position: relative;
	padding: 0 !important;
}


.novedades-internas .lista-notas .jspVerticalBar {
	right: 10px;
}

.novedades-internas .lista-notas h3{
	font-family: "din-black";
	text-transform: uppercase;
	padding: 0 20px;
	font-size: 16px;
	font-weight: normal;
	line-height: 50px;
}

.novedades-internas .lista-notas a.nota{
	display: block;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	background: transparent;
}

.novedades-internas .lista-notas a.nota:hover{
	background: #222;
}

.novedades-internas .lista-notas a.nota:hover .date{
	color: #fff;
}

.novedades-internas .lista-notas article{
	padding: 18px 20px 15px 115px;
	border-top: 1px solid #222;
	min-height: 70px;
	position: relative;
}

.novedades-internas .lista-notas .foto{
	position: absolute;
	left: 20px;
	top: 12px;
}

.novedades-internas .lista-notas article h4{
	font-family: "din-medium";
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	line-height: 18px;
}