body{
	background-image: url("./assets/nuestros-vinos/bg-nuestros-vinos.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.contentPage > section{
	font-family: "neutra2displaymedium";
	font-size: 18px;
	background-repeat: no-repeat;
}

.contentPage > section h2{
	font-family: "neutra2displaylight";
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.contentPage > section h2 span{
	font-family: "neutra2displaymedium";
	font-size: 51px;
}

.contentPage > section > .contenedor{
	position: relative;
}




/*
 * Links para navegacion
*/

.scroll-nav {
	position: fixed;
	right: 50px;
	top: 45%;
	z-index: 1000;
}

.scroll-nav li{
	margin: 10px 0;
}

.scroll-nav li a{
	display: block;
	width: 24px;
	height: 24px;
	background: #fff;
	position: relative;
}

.scroll-nav li a.active{
	background: #a53228;
}

.scroll-nav li a span{
	position: absolute;
	width: 135px;
	top: 0;
	bottom: 0;
	left: -150px;
	color: #fff;
	text-transform: uppercase;
	font-family: "neutra2displaymedium";
	font-size: 16px;
	background: #000;
	height: 14px;
	padding: 5px 5px 5px 10px;
}

.scroll-nav li a span:after{
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-top: 5px solid transparent;
	border-right: 5px solid #fff;
	border-bottom: 5px solid transparent;
	right: 0;
	top: 7px;
}

.scroll-nav li a.active span:after{
	border-right-color: #a53228;
}

/* Latitud 33 */

section.latitud{
	margin-top: 30px;
}

section.latitud,
section.latitud .contenedor{
	height: 1160px;
}

section.latitud .contenedor{
	background: url("./assets/nuestros-vinos/bg-contenedor-latitud.png") no-repeat top right;
}

.bloqueBlanco{
	padding: 28px;
	background: #fff;
	color: #000000;
}

section.latitud .bloque1{
	width: 379px;
	position: absolute;
	top: 190px;
	right: 0;
}

.contentPage a.ir-abajo,
.contentPage a.ir-abajo span{
	display: inline-block;
	line-height: 28px;
}

.contentPage a.ir-abajo{
	background: url("./assets/nuestros-vinos/bg-ir-abajo.png") right no-repeat;
	padding-right: 29px;
	font-size: 18px;
	color: #fff;
	position: absolute;
	bottom: -28px;
	left: 28px;
}

.contentPage a.ir-abajo span{
	background: #000;
	padding: 0 18px 0 16px;
}

section.latitud .bloque2{
	width: 600px;
	position: absolute;
	top: 615px;
	right: 61px;
}



/* El origen */
section.el-origen{
	background-image: url("./assets/nuestros-vinos/bg-el-origen.jpg");
	background-position: center top;
}

section.el-origen,
section.el-origen .contenedor{
	height: 768px;
}

section.el-origen .contenedor{
	max-width: 842px;
	overflow: hidden;
}


section.el-origen h2{
	padding-top: 75px;
	margin: 0 0 40px 0;
}

section.el-origen article{
	width: 31.3%;
	margin-right: 3%;
	float: left;
}

section.el-origen article.last{
	margin-right: 0;
	padding-right: 0;
}

section.el-origen article h3{
	font-size: 21px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

section.el-origen article img{
	max-width: 100%;
	height: auto;
}

section.el-origen article .scroll{
	height: 175px;
	margin-top: 15px;
	overflow: auto;
}

section.el-origen article .scroll p{
	margin-bottom: 15px;
}


/* La creacion */
section.la-creacion{
	background-image: url("./assets/nuestros-vinos/bg-la-creacion.jpg");
	background-position: center top;
}

section.la-creacion,
section.la-creacion .contenedor{
	height: 578px;
}

section.la-creacion h2{
	padding-top: 75px;
	margin: 0 0 40px 0;
}

section.la-creacion article{
	width: 40%;
}

section.la-creacion .scroll{
	height:308px;
	overflow: auto;
}

section.la-creacion article p{
	margin-bottom: 15px;
}



/* El vino */

section.el-vino{
	background: url("./assets/nuestros-vinos/bg-el-vino.jpg") right top no-repeat;
	height: 900px;
}

section.el-vino .contenido{
	height: 820px;
	overflow: hidden;
}

section.el-vino .bloqueBlanco{
	width: 52%;
}

.botellas-container li{
	margin-top: 180px;
}

.botellas-container li img{
	max-width: 100%;
	height: auto;
}

.botellas-container li,
.el-vino nav li{
	width: 12.40%;
	margin-right: 0.1%;
	float: left;
	text-align: center;
}

.el-vino nav li{
	border-bottom: 9px solid;
	height: 37px;
	position: relative;
}

.el-vino nav li.last{
	margin-right: 0;
}


.el-vino nav li a{
	color: #fff;
	background: #000;
	text-transform: uppercase;
	font-size: 11px;
	font-family: "neutraface2displaybold";
	padding: 13px 3px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}


	.el-vino nav .malbec{
		border-color: #a53228;
	}

	.el-vino nav .cabernet{
		border-color: #cb5f55;
	}

	.el-vino nav .merlot{
		border-color: #bd7f79;
	}

	.el-vino nav .syrah{
		border-color: #bda379;
	}

	.el-vino nav .tempranillo{
		border-color: #97a160;
	}

	.el-vino nav .chardonnay{
		border-color: #d3c746;
	}

	.el-vino nav .sauvignon{
		border-color: #d38f46;
	}

	.el-vino nav .tardio{
		border-color: #e4bf3e;
	}


section.el-vino .detalle{
	display: none;
}






/* Estilos parallax - Solo desktop */

.contentPage.parallax{

}

.contentPage.parallax > section{
	background-attachment: fixed;
}

.contentPage.parallax > section.el-vino{
	background-attachment: scroll;
}

.contentPage.parallax section.la-creacion{
	background-size: cover;
}