body{
	background-image: url("./assets/nuestros-vinos/bg-nuestros-vinos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.contentPage > section{
	font-family: "neutra2displaymedium";
	font-size: 18px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.contentPage > section h2{
	font-family: "neutra2displaylight";
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.contentPage > section h2 span{
	font-family: "neutra2displaymedium";
	font-size: 51px;
}

.contentPage > section > .contenedor{
	position: relative;
}



/* Latitud 33 */

section.latitud,
section.latitud .contenedor{
	height: 1030px;
}

section.latitud .contenedor{
	background: url("./assets/nuestros-vinos/bg-contenedor-latitud.png") no-repeat top right;
	margin-top: 30px;
}

.bloqueBlanco{
	padding: 28px;
	background: #fff;
	color: #000000;
}

section.latitud .bloque1{
	width: 379px;
	position: absolute;
	top: 190px;
	right: 0;
}

.contentPage a.ir-abajo,
.contentPage a.ir-abajo span{
	display: inline-block;
	line-height: 28px;
}

.contentPage a.ir-abajo{
	background: url("./assets/nuestros-vinos/bg-ir-abajo.png") right no-repeat;
	padding-right: 29px;
	font-size: 18px;
	color: #fff;
	position: absolute;
	bottom: -28px;
	left: 28px;
}

.contentPage a.ir-abajo span{
	background: #000;
	padding: 0 18px 0 16px;
}

section.latitud .bloque2{
	width: 600px;
	position: absolute;
	top: 615px;
	right: 61px;
}



/* El origen */
section.el-origen{
	background-image: url("./assets/nuestros-vinos/bg-el-origen.jpg");
	background-position: center top;
	background-size: cover;
}

section.el-origen,
section.el-origen .contenedor{
	height: 768px;
}

section.el-origen .contenedor{
	max-width: 842px;
}


section.el-origen h2{
	padding-top: 75px;
	margin: 0 0 40px 0;
}

section.el-origen article{
	width: 31.3%;
	margin-right: 3%;
	float: left;
}

section.el-origen article.last{
	margin-right: 0;
	padding-right: 0;
}

section.el-origen article h3{
	font-size: 21px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

section.el-origen article img{
	max-width: 100%;
	height: auto;
}

section.el-origen article .scroll{
	height: 180px;
	margin-top: 15px;
	overflow: auto;
}

section.el-origen article .scroll p{
	margin-bottom: 15px;
}


/* La creacion */
section.la-creacion{
	background: url("./assets/nuestros-vinos/bg-la-creacion.jpg");
	background-position: center top;
}

section.la-creacion,
section.la-creacion .contenedor{
	height: 578px;
}

section.la-creacion h2{
	padding-top: 75px;
	margin: 0 0 40px 0;
}

section.la-creacion article{
	width: 40%;
}

section.la-creacion .scroll{
	height:300px;
	overflow: auto;
}

section.la-creacion article p{
	margin-bottom: 15px;
}



/* El vino */

section.el-vino{
	background: url("./assets/nuestros-vinos/bg-el-vino.jpg") right top no-repeat;
	height: 900px;
}

section.el-vino .bloqueBlanco{
	width: 53.71%;
}

.botellas-container .malbec{

}

.el-vino nav li{
	width: 12.33%;
	margin-right: 1px;
	float: left;
	border-bottom: 9px solid;
	text-align: center;
	height: 37px;
	position: relative;
}

.el-vino nav li.last{
	margin-right: 0;
}


.el-vino nav li a{
	color: #fff;
	background: #000;
	text-transform: uppercase;
	font-size: 11px;
	font-family: "neutraface2displaybold";
	padding: 13px 3px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}


	.el-vino nav .malbec{
		border-color: #a53228;
	}

	.el-vino nav .cabernet{
		border-color: #cb5f55;
	}

	.el-vino nav .merlot{
		border-color: #bd7f79;
	}

	.el-vino nav .syrah{
		border-color: #bda379;
	}

	.el-vino nav .trampanillo{
		border-color: #97a160;
	}

	.el-vino nav .chardonnay{
		border-color: #d3c746;
	}

	.el-vino nav .sauvignon{
		border-color: #d38f46;
	}

	.el-vino nav .tardio{
		border-color: #e4bf3e;
	}