/*
 * OPID
*/

	/* Intro */

	.nuevas-fronteras-internas .opid .row .intro{
		background: #2b7b82;
		height: 428px;
	}

	.nuevas-fronteras-internas .opid .row .intro h3{
		margin-top: 20px;
		margin-bottom: 15px;
	}

	.nuevas-fronteras-internas .opid .row .intro h4{
		font-size: 18px;
		margin-bottom: 18px;
		font-family: "din-light";
	}

	.nuevas-fronteras-internas .opid .row .intro .scrollCustom{
		height: 300px;
	}

	/* SLider */

	.nuevas-fronteras-internas .opid .row .jcarousel-slider-interna{
		height: 472px;
		width: 797px;
	}

	.nuevas-fronteras-internas .opid .row .jcarousel-slider-interna li{
		width: 797px;
		height: 472px;
	}

	.nuevas-fronteras-internas .opid .row .jcarousel-prev-horizontal,
	.nuevas-fronteras-internas .opid .row .jcarousel-next-horizontal{
		top: 200px;
	}


	/* grafico-informacion-sismica */

	.nuevas-fronteras-internas .opid .row .grafico-informacion-sismica{
		position: relative;
	}

	.nuevas-fronteras-internas .opid .row .grafico-informacion-sismica .title{
		position: absolute;
		top: 45px;
		left: 45px;
		width: 245px;
	}

	.nuevas-fronteras-internas .opid .row .grafico-informacion-sismica h3{
		font-size: 20px;
		font-weight: normal;
		font-family: "din-medium";
		line-height: 22px;
		padding: 6px 0;
		border-bottom: 2px solid #fff;
		border-top: 1px solid #fff;
	}

	.nuevas-fronteras-internas .opid .row .grafico-informacion-sismica h4{
		font-size: 24px;
		font-family: "din-black";
		font-weight: normal;
		margin-top: 14px;
	}




/*
 * PLAN EXPLORATORIO
*/

	/* Intro */

	.nuevas-fronteras-internas .plan-exploratorio .row .intro{
		background: #66354b;
		height: 433px;
	}

	.nuevas-fronteras-internas .plan-exploratorio .row .intro h3{
		margin-top: 20px;
	}

	.nuevas-fronteras-internas .plan-exploratorio .row .intro .scrollCustom{
		height: 300px;
	}

	/* SLider */

	.nuevas-fronteras-internas .plan-exploratorio .row .jcarousel-slider-interna{
		height: 472px;
		width: 797px;
	}

	.nuevas-fronteras-internas .plan-exploratorio .row .jcarousel-slider-interna li{
		width: 797px;
		height: 472px;
	}

	.nuevas-fronteras-internas .plan-exploratorio .row .jcarousel-prev-horizontal,
	.nuevas-fronteras-internas .plan-exploratorio .row .jcarousel-next-horizontal{
		top: 200px;
	}


	/* Bloques de texto de abajo */

	.nuevas-fronteras-internas .plan-exploratorio .row .txt{
		height: 296px;
	}

	.nuevas-fronteras-internas .plan-exploratorio .row .txt .scrollCustom{
		height: 160px;
	}

	.nuevas-fronteras-internas .plan-exploratorio .row .txt h3{
		font-size: 22px;
		line-height: 26px;
	}

	.nuevas-fronteras-internas .plan-exploratorio .row .txt p{
		font-size: 13px;
		line-height: 18px;
	}

	/* Bloque texto 1 */
	.nuevas-fronteras-internas .plan-exploratorio .row .txt1{
		background: #333 url("./assets/textura-negra3.jpg");
	}

	/* Bloque texto 2 */

	.nuevas-fronteras-internas .plan-exploratorio .row .txt2{
		background: #2d153f;
	}


	/* Bloque texto 3 */
	.nuevas-fronteras-internas .plan-exploratorio .row .txt3{
		background: #964e61;
	}


/* VISION EXPLORATORIA */

	/* Intro */

	.nuevas-fronteras-internas .vision-exploratoria .row .intro{
		background: #791b54;
		height: 433px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .intro h3{
		margin-top: 20px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .intro .scrollCustom{
		height: 300px;
	}

	/* SLider */

	.nuevas-fronteras-internas .vision-exploratoria .row .jcarousel-slider-interna{
		height: 472px;
		width: 797px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .jcarousel-slider-interna li{
		width: 797px;
		height: 472px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .jcarousel-prev-horizontal,
	.nuevas-fronteras-internas .vision-exploratoria .row .jcarousel-next-horizontal{
		top: 200px;
	}


	/* Grafico */

	/* Grafico Matriz de energía primaria */
	.internas .exploracion-cuencas-productivas{
		width:757px;
		height: 433px;
		background: url("./assets/textura-negra2.jpg");
	}

	.internas .row .exploracion-cuencas-productivas h3{
		position: absolute;
		z-index: 1;
		font-size: 18px;
		font-family: "din-black";
		line-height: 22px;
		width: 255px;
		padding: 12px 45px 12px 0;
		border-top: 2px solid #fff;
		border-bottom: 1px solid #fff;
		top: 30px;
		left: 60px;
	}

	.internas .row .exploracion-cuencas-productivas img{
		position: absolute;
		left: 20px;
		top: 0;
		z-index: 0;
	}

	.internas .row .exploracion-cuencas-productivas .referencias{
		position: absolute;
		top: 170px;
		left: 61px;
		z-index: 1;
	}

	.internas .row .exploracion-cuencas-productivas .referencias li{
		line-height: 22px;
		font-size: 13px;
	}

	.internas .row .exploracion-cuencas-productivas .referencias li span{
		display: inline-block;
		width: 20px;
		height: 10px;
		margin-right: 5px;
	}

		.internas .row .exploracion-cuencas-productivas .referencias li.cuencas-productivas span{
			background-color: #009591;
		}

		.internas .row .exploracion-cuencas-productivas .referencias li.no-convencional span{
			background-color: #006378;
		}

		.internas .row .exploracion-cuencas-productivas .referencias li.nuevas-cuencas span{
			background-color: #cb7faf;
		}

		.internas .row .exploracion-cuencas-productivas .referencias li.offshore span{
			background-color: #a10160;
		}

		.internas .row .exploracion-cuencas-productivas li.internacional span{
			background-color: #a7003b;
		}


	/* Bloques de texto de abajo */

	.nuevas-fronteras-internas .vision-exploratoria .row .txt h3{
		font-size: 22px;
		line-height: 26px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt p{
		font-size: 13px;
		line-height: 18px;
	}


	/* Bloque 1 & Bloque 2*/

	.nuevas-fronteras-internas .vision-exploratoria .row .txt1,
	.nuevas-fronteras-internas .vision-exploratoria .row .txt2{
		height: 410px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt1 .scrollCustom{
		height: 290px;
	}


	.nuevas-fronteras-internas .vision-exploratoria .row .txt1{
		background: #360f43;
		width: 757px;
		position: relative;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt1 > div{
		width: 340px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt1 .grafico{
		position: absolute;
		right: 30px;
		top: 125px;
	}


	.nuevas-fronteras-internas .vision-exploratoria .row .txt2{
		background: #333 url("./assets/nuevas-fronteras/bg-internacional.jpg") no-repeat;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt2 .scrollCustom{
		height: 110px;
	}




	/* Bloque 3 & Bloque 4 */

	.nuevas-fronteras-internas .vision-exploratoria .row .txt3,
	.nuevas-fronteras-internas .vision-exploratoria .row .txt4{
		height: 465px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt3 .scrollCustom{
		height: 140px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt4 .scrollCustom{
		height: 320px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt3{
		background: #333 url("./assets/textura-negra3.jpg");
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt3 img{
		position: absolute;
		bottom: 15px;
		left: 35px;
	}

	/* bloque 4 */
	.nuevas-fronteras-internas .vision-exploratoria .row .txt4{
		background: #bc7eb0;
		width: 756px;
		position: relative;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt4 > div{
		width: 345px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt4 .grafico{
		position: absolute;
		right: 15px;
		top: 44px;
	}


	/* Bloque 5 */

	.nuevas-fronteras-internas .vision-exploratoria .row .txt5{
		background: #653d7c;
		height: 370px;
		width: 1160px;
		position: relative;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt5 > div{
		width: 350px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt5 .scrollCustom{
		height: 265px;
	}

	.nuevas-fronteras-internas .vision-exploratoria .row .txt5 .grafico{
		position: absolute;
		bottom: 20px;
		right: 20px;
	}