/* PRESUPUESTACION ONLINE */

.contenedor-principal .presupuestacion-online .destacado {
    background: url("./assets/destacado-presupuestacion-online.jpg") center top no-repeat;
}

.form-presupuestacion-online {
    background: #f1f1f1;
    position: relative;
    padding-top: 92px;
    color: #4a4a4a;
}

.form-presupuestacion-online .options{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 92px;
    padding-left: 145px;
    background: #009fde url("./assets/fd-ppto-filters.gif") 20px center no-repeat;
}

.ui-selectmenu-menu li a,
.ui-selectmenu-status {
    text-transform: capitalize;
}

.form-presupuestacion-online .options select{
    width: 230px;
}

.form-presupuestacion-online .options .ui-selectmenu{
	height: 92px;
	background: transparent;
	border-right: none;
}

.form-presupuestacion-online .options .ui-selectmenu-status{
	line-height: 92px;
	color: #fff!important;
}

.form-presupuestacion-online .options .ui-selectmenu-icon{
	top: 44px;
	background-image: url('./assets/ic-selectmenu.ppto.png');
}

.ui-selectmenu-menu.pptoSelect{
	background: #0082b6;
}

.ui-selectmenu-menu.pptoSelect li a,
.form-presupuestacion-online .options .ui-selectmenu-status {
    color: #fff;
}

.ui-selectmenu-open.pptoSelect li.ui-selectmenu-item-focus a {
    background: #4fa7c9;
}

/* STEP 1
------------------------------------------------------------------------------------------------------------------------*/

.steps {
    padding: 150px;
    border-bottom: 4px solid #000;
}

.step3{
	padding: 0;
}

.step3 .step3-cont{
	padding: 40px;
	margin-bottom: 8px;
}

.form-presupuestacion-online .step1 h3{
    font-size: 32px;
    line-height: 40px;
    font-family: 'din-medium';
    text-transform: uppercase;
    margin-bottom: 20px;
    background: url("./assets/fd-title-ppto1.png") left top no-repeat;
    padding-left: 96px;
}

.form-presupuestacion-online .step1 li,
.form-presupuestacion-online .step1 p {
    font-size: 18px;
    line-height: 25px;
    font-family: 'din-regular';
}

.form-presupuestacion-online .step1 li {
    margin-bottom: 20px;
    margin-left: 96px;
}

.form-presupuestacion-online .step1 li span {
    color: #009fde;
}

.form-presupuestacion-online .steps ul.recomendacion li{
	font-size: 20px;
	line-height: 24px;
	color: #5f5f5f;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 0;
}

.form-presupuestacion-online .step2 ul.recomendacion li{
	padding: 30px 0;
	border-bottom: 4px solid #e5e5e5;
}

.form-presupuestacion-online .steps ul.recomendacion li span{
	font-size: 24px;
	line-height: 24px;
	color: #0063be;
	float: right;
	font-family: "din-black"
}

.step3 span.fecha{
	margin-bottom:30px;
	display: inline-block;
}

.step3 .recomendacion{
	padding: 0 40px;
}

.step3 table{
	margin: 30px 0;
}

.step2 th,
.step2 td{
	color: #6c6c6c;
}

.step3 th{
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: left;
	padding:12px 20px;
}

.step3 tr{
	margin-bottom: 10px;
}

.step3 td{
	font-size: 13px;
	line-height: 15px;
	background: #fff;
	border-bottom: 4px solid #f1f1f1;
	padding: 10px 0;
}

td.col1{
	width: 70px;
	text-align: center;
}

td.col2{
	width: 484px;
	text-align: left;
}

td.col3{
	width: 100px;
	text-align: right;
	padding-right: 10px;
}

tr.row-total td{
	background: transparent;
	color: #0063be;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	text-align: right;
}

.form-presupuestacion-online p.terminos{
	color: #9f9f9f;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 14px;
	font-family: "din-black";
	padding: 0 20px;
}

.links-container{
	border-top: 5px solid #fff;
	padding: 40px 50px;
	overflow: hidden;
}

.links-container .left-col{
	width: 340px;
	float: left;
}

.links-container .right-col{
	width: 380px;
	float: right;
}

.links-container a.actions{
	display: inline-block;
	text-decoration: underline;
	color: #0063be;
	font-size: 15px;
	line-height: 18px;
	padding-left: 32px;
}

.links-container a.actions.nuevo-ppto{
	background: url("./assets/fb-link-nvo-ppto.png") left no-repeat;
}

.links-container a.actions.print{
	background: url("./assets/fd-links-print.png") left no-repeat;
}

.links-container a.actions.send-mail{
	background: url("./assets/fd-link-mail.png") left no-repeat;
}

.links-container input[type=text]{
	width: 316px;
	padding: 0 5px;
	height: 24px;
	margin-bottom: 10px;
}

.links-container button{
	cursor: pointer;
	color: #9d9c9c;
	background: #d8d8d8 url("./assets/fd-link-ppal.png") 65px center no-repeat;
	height: 40px;
	text-transform: uppercase;
	text-align: left;
	padding: 0 30px 0 15px;
	border: none;
	/* Firefox */
	-moz-transition: all 0.2s ease-in;
	/* WebKit */
	-webkit-transition: all 0.2s ease-in;
	/* Opera */
	-o-transition: all 0.2s ease-in;
	/* Standard */
	transition: all 0.2s ease-in;
}

.links-container button:hover{
	background: #0063be url("./assets/fd-link-blanco.png") 65px center no-repeat;
	color: #fff;
}






