/*** PROMOCIONES ***/
.contenedor-principal .promociones .destacado{
    background: url("./assets/destacados-puntos-de-diagnostico.jpg") center top no-repeat;
}

.contenedor-principal .promociones section.content h4{
    color: #9d9c9c;
    font-size: 17px;
    line-height: 24px;
    font-family: "din-medium";
    margin: 14px 0;
}