/*** PROMOCIONES ***/
.promociones .destacado{
    background: url("./assets/destacado-promociones.jpg") center top no-repeat;
}

.promociones section.content h4{
    color: #9d9c9c;
    font-size: 17px;
    line-height: 24px;
    font-family: "din-medium";
    margin: 14px 0;
}