/**** PUNTOS DE DIAGNOSTICO ****/
.contenedor-principal .puntos-diagnostico .destacado{
    background: url("./assets/destacados-puntos-de-diagnostico.jpg") center top no-repeat;
    padding-top: 50px;
}

.contenedor-principal .puntos-diagnostico section.content{
    /*background: #f8f8f8;*/
    padding: 20px;
    width: 810px;
}

.contenedor-principal .puntos-diagnostico section.content.right h3{
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contenedor-principal .puntos-diagnostico section.content .img-cont{
    position: relative;
    padding-bottom: 60px;
    /*border-bottom: 1px dotted #d6d5d5;*/
    margin-bottom: 30px;
    min-height: 820px;
}

.contenedor-principal .puntos-diagnostico section.content img.vehiculo{
    position: relative;
    z-index: 0;
    display: none;
}

.contenedor-principal .puntos-diagnostico section.content img.vehiculo.active{
    display: block;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal{
	margin-bottom: 30px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li > a{
	text-transform: uppercase;
	color: #363636;
	font-family: "din-black";
	font-size: 15px;
	line-height: 28px;
	background: url("./assets/fd-diagnostico-principal.jpg") 10px bottom no-repeat;
	padding-bottom: 18px;
	display: inline-block;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.azul.active,
.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.azul{
	background: url("./assets/fd-diagnostico-principal-active-azul.jpg") 10px bottom no-repeat;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.azul.active span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.azul span{
	background: #009fde;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.verde.active,
.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.verde{
	background: url("./assets/fd-diagnostico-principal-active-verde.jpg") 10px bottom no-repeat;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.verde.active span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.verde span{
	background: #75aa3b;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.rojo.active,
.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.rojo{
	background: url("./assets/fd-diagnostico-principal-active-rojo.jpg") 10px bottom no-repeat;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.rojo.active span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.rojo span{
	background: #f16a6b;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.last{
	background: none;
}

.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.amarillo span,
.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.active.amarillo span{
	background: #dbbe19;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li > a span{
	display: inline-block;
    width: 28px;
    height: 28px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 50%;
    /* Firefox 1-3.6 */
    -moz-border-radius: 50%;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 28px;
    z-index: 5;
    background: #bcbcbc;
    margin-right: 8px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li > ul{
	position: absolute;
	top: 0px;
	left: 260px;
	z-index: 5;
	display: none;
}

.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal ul.fluidos{
	left: 530px;
}

.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal ul.mecanica{
	left: 0;
	top: 760px;
}

.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal ul.seguridad{
	left: 420px;
	top: 760px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li > ul > li{
	margin-bottom: 6px;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico{
	color: #8f8f8f;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico:hover,
.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico.active{
	color: #363636;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico span{
    display: inline-block;
    width: 22px;
    height: 22px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 50%;
    /* Firefox 1-3.6 */
    -moz-border-radius: 50%;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 22px;
    z-index: 5;
    background: #bcbcbc;
    margin-right: 8px;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico.azul.active span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo a.pto-diagnostico.azul span{
    background: #009fde;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico.verde.active span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo a.pto-diagnostico.verde span{
    background: #75aa3b;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico.rojo.active span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo a.pto-diagnostico.rojo span{
    background: #f15a5b;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico.amarillo.active span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo a.pto-diagnostico.amarillo span{
    background: #dbbe19;
}

a#ver-todos,
a#ver-unico,
a#ver-unico span,
a#ver-todos span{
	display: inline-block;
	line-height: 36px;
	color: #fff;
	font-size: 12px;
	font-family: "din-black";
	text-transform: uppercase;
}

a#ver-todos,
a#ver-todos span{
	background: url("./assets/fd-corte-gris.png") no-repeat;
}

a#ver-unico,
a#ver-unico span{
	background: url("./assets/fd-corte-azul.png") no-repeat;
}

a#ver-todos,
a#ver-unico{
	background-position: right bottom;
	padding-right: 11px;
	position: relative;
}

a#ver-todos span,
a#ver-unico span{
	background-position: left top;
	padding-left: 20px;
	padding-right: 10px;
}

a#ver-todos{
	left: -14px;
	z-index: 5;
}
