/**** PUNTOS DE DIAGNOSTICO ****/
.contenedor-principal .puntos-diagnostico .destacado{
    background: url("./assets/destacados-puntos-de-diagnostico.jpg") center top no-repeat;
    padding-top: 50px;
}

.contenedor-principal .puntos-diagnostico section.content{
    /*background: #f8f8f8;*/
    padding: 0 20px 20px;
    width: 810px;
}

.contenedor-principal .puntos-diagnostico section.content.right h3{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 22px;
}

.contenedor-principal .puntos-diagnostico section.content .img-cont{
    position: relative;
    padding-bottom: 60px;
}

.contenedor-principal .puntos-diagnostico section.content img.vehiculo{
    position: relative;
    z-index: 0;
    display: none;
    top: 100px;
    clear: both;
}

.contenedor-principal .puntos-diagnostico section.content img.vehiculo.active{
    display: block;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal{
    margin-bottom: 10px;
    overflow: hidden;
    float: left;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li{
    float: left;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li > a{
	text-transform: uppercase;
	color: #363636;
	font-family: "din-black";
	font-size: 15px;
	line-height: 20px;
	display: block;
    overflow: hidden;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.azul.active span.step,
.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.azul span.step{
	background: #009fde;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.verde.active span.step,
.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.verde span.step{
	background: #75aa3b;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.rojo.active span.step,
.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.rojo span.step{
	background: #f16a6b;
}
.contenedor-principal .puntos-diagnostico section.content .ver-completo .lista-principal > li a.amarillo span.step,
.contenedor-principal .puntos-diagnostico section.content .lista-principal > li a.active.amarillo span.step{
	background: #dbbe19;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal a span.step{
	display: block;
    width: 32px;
    height: 32px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 50%;
    /* Firefox 1-3.6 */
    -moz-border-radius: 50%;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 32px;
    z-index: 5;
    background: #bcbcbc;
    margin-right: 5px;
    float: left;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal a span.text{
    display: block;
    float: left;
    margin-right: 20px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li > ul{
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 5;
	display: none;
    width: 195px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li > ul.fluidos{
    left: 158px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal ul.mecanica{
    left: 316px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal ul.seguridad{
    left: 456px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal.actives > li > ul.fluidos{
	left: 205px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal.actives ul.mecanica{
	left: 410px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal.actives ul.seguridad{
	left: 605px;
}

.contenedor-principal .puntos-diagnostico section.content .lista-principal > li > ul > li{
	margin-bottom: 5px;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico{
	color: #8f8f8f;
    display: block;
    padding-left: 30px;
    position: relative;
    font-size: 10px;
    padding-left: 14px;
    line-height: 14px;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico:hover,
.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico.active{
	color: #363636;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico span{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico.azul span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo a.pto-diagnostico.azul span{
    color: #009fde;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico.verde span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo a.pto-diagnostico.verde span{
    color: #75aa3b;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico.rojo span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo a.pto-diagnostico.rojo span{
    color: #f15a5b;
}

.contenedor-principal .puntos-diagnostico section.content a.pto-diagnostico.amarillo span,
.contenedor-principal .puntos-diagnostico section.content .ver-completo a.pto-diagnostico.amarillo span{
    color: #dbbe19;
}

.contenedor-principal .puntos-diagnostico section.content .select-option{
    float: left;
}

.contenedor-principal .puntos-diagnostico section.content .select-option p{
    margin-bottom: 0;
}

.contenedor-principal .puntos-diagnostico section.content .select-option a{
	display: inline-block;
	line-height: 20px;
	color: #929292;
	font-size: 14px;
    padding-left: 16px;
	text-transform: uppercase;
    background: url('./assets/fd-radio.png') left 3px no-repeat;
}

.contenedor-principal .puntos-diagnostico section.content .select-option a.active{
    background-position: left -32px;
}
