.rating-crediticio .destacado {
	background: url("../images/rating-crediticio/header.jpg") center top no-repeat;
}

.rating-crediticio .content h2{
	background: url("./assets/flag-orange.png") left no-repeat;
	padding-left: 14px;
	color: #d99b2d;
	font-size: 18px;
	line-height: 22px;
}

.rating-crediticio .content h3{
	font-size: 30px;
	line-height: 34px;
	text-transform: uppercase;
}

.rating-crediticio .content table{
	width: 100%;
}

.rating-crediticio .content thead{
	background: #f3f3f3;
	border: 1px solid #dadada;
}

.rating-crediticio .content th{
	text-align: center;
	border-right: 1px solid #dadada;
	padding: 5px 10px;
	text-transform: uppercase;
	background: #cdcccc;
	font-family: "din-black";
	font-size: 15px;
	color: #fff;
}

.rating-crediticio .content td,
.rating-crediticio .content th{
	padding: 10px;
	vertical-align: middle;
}

.rating-crediticio .content .first-head th{
	background: #292929;
	font-size: 17px;
}

.rating-crediticio .content td{
	border-bottom: 1px solid #fff;
	background: #e6e5e5;
}

.rating-crediticio .content th.last{
	border-right: none;
}

/*.rating-crediticio .content td.col1,
.rating-crediticio .content th.col1{
	width: 172px;
}

.rating-crediticio .content td.col2,
.rating-crediticio .content th.col2{
	width: 222px;
}

.rating-crediticio .content td.col3,
.rating-crediticio .content th.col3{
	width: 134px;
}

.rating-crediticio .content td.col4,
.rating-crediticio .content th.col4{
	width: 88px;
}*/