
/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/


body{
	background-image: url("./assets/nuestros-vinos/bg-nuestros-vinos.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.recetas .contentPage.principal{
	background: url('./assets/maridaje/bg-suelo-botella.png') 50% 350px no-repeat;
}

.contentPage .contenedor h2{
	font-family: "neutra2displaylight";
	font-size: 40px;
	line-height: 44px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #000;
}

.contentPage .contenedor h3,
.contentPage .contenedor h4{
	font-family: "neutra2displaymedium";
	font-size: 18px;
	line-height: 22px;
	color: #000;
}

.contentPage .contenedor h3{
	text-transform: uppercase;
	margin-bottom: 12px;
}

.contentPage .contenedor h4{
	margin-bottom: 6px;
}

.contentPage .contenedor p,
.contentPage .contenedor dd{
	font-family: 'neutra2displaymedium';
	color: #000;
	font-size: 18px;
}

.contentPage .contenedor .left-col {
	float: left;
	width: 40%;

}

.contentPage .contenedor .left-col .bloque{
	margin-bottom: 23px;
}

.contentPage .contenedor .right-col {
	float: right;
	min-width: 507px;
	min-height: 566px;
	position: relative;
}

.contentPage .contenedor .right-col .description{
	display: none;
}