/*
 * RESPUESTAS SOBRE SHALE
*/

.respuestas-sobre-shale .col-izq{
	width: 380px;
	margin-right: 20px;
	float: left;
	background: #fa652d;
	min-height: 900px;
}

	.respuestas-sobre-shale .col-izq article{
		background: url("./assets/ic_preg-resp.png") no-repeat 20px 35px;
		padding-top: 150px;
	}

	.respuestas-sobre-shale .col-izq article h4{
		font-size: 28px;
		line-height: 32px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.respuestas-sobre-shale .col-izq article h4 span{
		font-weight: normal;
	}

	.respuestas-sobre-shale .col-izq article p{
		font-size: 18px;
		line-height: 22px;
	}

	.respuestas-sobre-shale .col-izq article p a{
		font-weight: bold;
	}




.respuestas-sobre-shale .col-der{
	float: left;
	padding: 40px;
	width: 720px;
	background: #65bea6;

}

	.respuestas-sobre-shale .col-der .bloque{
		width: auto;
		border-top: 2px solid #fff;
		padding-top: 15px;
		margin-bottom: 20px;
	}

	.respuestas-sobre-shale .col-der .bloque h5{
		font-size: 15px;
		font-family: "din-medium";
		font-weight: normal;
		line-height: 35px;
		padding-left: 40px;
		margin-bottom: 15px;
	}

	.respuestas-sobre-shale .col-der .bloque p{
		font-size: 12px;
		line-height: 16px;
		color: #daf3ed;
		font-weight: normal;
	}

	.respuestas-sobre-shale .col-der .bloque .pregunta p.first{
		font-family: "din-black";
		color: #fff;
		margin-bottom: 5px;
	}

	.respuestas-sobre-shale .col-der .bloque .pregunta{
		border-bottom: 1px solid #d1e9e4;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	.respuestas-sobre-shale .col-der .bloque .pregunta h5{
		background: url("./assets/ic_preguntas.png") no-repeat center left;
	}

	.respuestas-sobre-shale .col-der .bloque .respuesta{
		padding-bottom: 30px;
	}

	.respuestas-sobre-shale .col-der .bloque .respuesta h5{
		background: url("./assets/ic_respuestas.png") no-repeat center left;
	}

	.respuestas-sobre-shale .col-der .bloque .respuesta p a{
		text-decoration: underline;
	}

