.titulos-de-deuda .destacado {
	background: url("../images/titulos-de-deuda/header.jpg") center top no-repeat;
}

.titulos-de-deuda .content thead{
	background: #f3f3f3;
	border: 1px solid #dadada;
}

.titulos-de-deuda .content th{
	text-align: left;
	border-right: 1px solid #dadada;
	padding: 5px 10px;
	text-transform: uppercase;
	color: #292929;
	font-family: "din-black";
	font-size: 11px;
}

.titulos-de-deuda .content td,
.titulos-de-deuda .content th{
	padding: 10px;
	vertical-align: middle;
}

.titulos-de-deuda .content td{
	border-bottom: 1px solid #e0e0e0;
	border-collapse:collapse;
}

.titulos-de-deuda .content th.last{
	border-right: none;
}

.titulos-de-deuda .content td.col1,
.titulos-de-deuda .content th.col1{
	width: 172px;
}

.titulos-de-deuda .content td.col2,
.titulos-de-deuda .content th.col2{
	width: 222px;
}

.titulos-de-deuda .content td.col3,
.titulos-de-deuda .content th.col3{
	width: 134px;
}

.titulos-de-deuda .content td.col4,
.titulos-de-deuda .content th.col4{
	width: 88px;
}

.titulos-de-deuda .content tr{
	background: #f5f5f5;
}

.titulos-de-deuda .content tr.noColapsible,
.titulos-de-deuda .content tr.headerColapsible{
	background: #ececec;
}

.titulos-de-deuda .content tr.headerColapsible.closed .last{
	background: url(./assets/sp-expandible-arrows-orange-close.png) right no-repeat;
}

.titulos-de-deuda .content tr.headerColapsible.opened .last{
	background: url(./assets/sp-expandible-arrows-orange-open.png) right no-repeat;
}

