body{
	background-image: url("./assets/bg-legales.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #272728;
}

.contentPage.principal .info-container{
	background-color: #ebebeb;
	padding:30px 20px;
	max-width: 984px;
}

.contentPage.principal h2{
	font-family: "neutraface2displaybold";
	font-size: 22px;
	line-height: 38px;
	text-transform: uppercase;
	color: #fff;
	background: #000;
	padding: 0 15px;
	margin: 0 0 40px;
	font-weight: normal;
}

.articles{
	margin: 0 auto;
}

.articles article{
	float: left;
	width: 30%;
	margin: 0 1%;
	background-color: #fff;
	margin-bottom: 25px;
	border-right: 2px solid #dedede;
	border-bottom: 2px solid #dedede;
}

.articles .img-video-container img{
	width: 100%;
	height: auto;
	float: left;
}

.img-video-container{
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

.articles article h3{
	padding: 0 1.5%;
	margin-bottom: 3px;
}

.articles article h3 a{
	font: 18px/24px 'neutraface2displaybold';
	color: #000;
	text-transform: uppercase;
	font-weight: normal;
}

.articles article h3 span{
	font-size: 22px;
}

.share-container{
	border-top: 1px solid #666;
	padding: 10px 1.5% ;
}

.over-article{
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	display: none;
	z-index: 10;
	padding: 10px 1.5%;
	cursor: pointer;
}

.over-article p{
	color: #fff;
	font: 21px/25px 'neutra2displaymedium';
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: normal;
}

.over-article a.leer-mas{
	color: #fff;
	font: 11px/23px 'neutraface2displaybold';
	text-transform: uppercase;
	font-weight: normal;
	display: inline-block;
	padding-left: 12px;
	background: url(./assets/tu-latitud/ic-leer-mas.png) left center no-repeat;
}



/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}
