/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/
.left-col,
.right-col{
	background: #fff;
}

.content h1{
	font-size: 20px;
	line-height: 22px;
	color: #00a89c;
	margin-bottom: 15px;
	margin-left: 30px;
}

.left-col h2{
	text-transform: uppercase;
	font-family: din-black;
	font-size: 13px;
	line-height: 15px;
	margin-bottom:5px;
	margin-left: 30px;
}

.left-col ul{
	margin-bottom: 30px;
}

.left-col li a{
	font-size: 13px;
	text-transform: uppercase;
	line-height: 35px;
	display: block;
	padding: 0 30px;
}

.left-col li a span{
	display: inline-block;
	border-bottom: 2px solid #373737;
}

.left-col li a.active{
	background: #f7ac00;
}

.left-col li a.active span{
	border:none;
}


.right-col h1{
	padding-bottom: 37px;
	border-bottom: 3px solid #373737;
	margin-bottom: 20px;
}



.description{
	display: none;
	padding: 0 30px 20px;
}


.description h2{
	font-size: 14px;
	line-height: 16px;
	font-family: din-black;
	color: #f7ac00;
	text-transform: uppercase;
	background: url(../css/assets/educacion/ic_vocaciones-titulo-carrera.png) left no-repeat;
	padding-left: 24px;
	margin-bottom: 20px;
}
























