.presentaciones .destacado {
	background: url("../images/presentaciones/header.jpg") center top no-repeat;
}

.presentaciones .content h4{
    font-size: 20px;
    line-height: 24px;
    font-family: "din-medium";
    margin-bottom: 15px;
}

.presentaciones ul.docs{
    margin-top: 30px;
}

.presentaciones .docs li{
    background: #ececec;
    padding: 8px 10px;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}

.presentaciones .docs li a{
    font-family: "din-medium";
    font-size: 13px;
    line-height: 20px;
    display: inline-block;
    background: url('./assets/ic_pdf_transparent.png') no-repeat left center;
    padding-left: 28px;
    float: left;
}

.presentaciones .docs li span{
    float: right;
}
