
/******* SLIDER ******/
.galeria-bg {
    background: #f2efeb;
    overflow: hidden;
}
.galeria-cont {
    height: 415px;
    margin: 0 auto;
    max-width: 2000px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}
.galeria-cont h2.heading {
    top: 62px;
}
.galeria-cont h2.heading span {
    min-width: 162px;
    padding-left: 25px;
}
.galeria-cont #sequence {
    top: 0;
}
.galeria-cont #sequence .dest .cont-desc {
    margin-top: 12px;
    padding-bottom: 50px;
    padding-right: 8px;
    padding-top: 40px;
}
.galeria-cont #sequence li .dest p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin: 16px 0;
}
.galeria-cont #sequence ul img {
    height: auto !important;
}
.galeria-cont #arrows {
    left: -7px;
    top: 250px;
}

/***** FIN SLIDER ********/

@media (max-width: 1023px) {
    .galeria-cont {
        display: none;
    }
}