.analistas .destacado {
	background: url("../images/analistas/header.jpg") center top no-repeat;
}

.analistas .content h2{
	background: url("./assets/flag-orange.png") left no-repeat;
	padding-left: 14px;
	color: #d99b2d;
	font-size: 18px;
	line-height: 22px;
}

.analistas .content h3{
	font-size: 30px;
	line-height: 34px;
	text-transform: uppercase;
}

.analistas .content table{
	width: 100%;
}

.analistas .content thead{
	background: #f3f3f3;
	border: 1px solid #dadada;
}

.analistas .content th{
	text-align: left;
	border-right: 1px solid #dadada;
	padding: 5px 10px;
	text-transform: uppercase;
	color: #292929;
	font-family: "din-black";
	font-size: 11px;
}

.analistas .content td,
.analistas .content th{
	padding: 10px;
	vertical-align: middle;
}

.analistas .content td{
	border-bottom: 1px solid #e0e0e0;
	width: 30%;
}