.asamblea-de-accionistas .destacado {
	background: url("../images/asamblea-de-accionistas/header.jpg") center top no-repeat;
}

.asamblea-de-accionistas .content h2{
	background: url("./assets/flag-orange.png") left no-repeat;
	padding-left: 14px;
	color: #d99b2d;
	font-size: 18px;
	line-height: 22px;
}

.asamblea-de-accionistas .content h3{
	font-size: 30px;
	line-height: 34px;
	text-transform: uppercase;
	border-bottom: 1px solid #ececec;
	margin-bottom: 25px;
	padding-bottom: 12px;
}

.asamblea-de-accionistas .content h4{
	font-size: 20px;
	line-height: 24px;
	font-family: "din-medium";
	margin-bottom: 15px;
}

.asamblea-de-accionistas ul.docs{
	margin-top: 30px;
}

.asamblea-de-accionistas .docs li{
	background: #ececec;
	padding: 8px 10px;
	border-bottom: 1px solid #fff;
}

.asamblea-de-accionistas .docs li a{
	font-family: "din-medium";
	font-size: 13px;
	line-height: 20px;
	display: inline-block;
}