.titulos-de-deuda .destacado {
	background: url("../images/titulos-de-deuda/header.jpg") center top no-repeat;
}

.titulos-de-deuda .content thead{
	background: #f3f3f3;
	border: 1px solid #dadada;
}

.titulos-de-deuda .content th{
	text-align: left;
	border-right: 1px solid #dadada;
	padding: 5px 10px;
	text-transform: uppercase;
	color: #292929;
	font-family: "din-black";
	font-size: 11px;
}

.titulos-de-deuda .content td,
.titulos-de-deuda .content th{
	padding: 10px;
	vertical-align: middle;
}

.titulos-de-deuda .content td{
	border-bottom: 1px solid #e0e0e0;
	border-collapse:collapse;
}

.titulos-de-deuda .content th.last{
	border-right: none;
}

.titulos-de-deuda .content td.col1,
.titulos-de-deuda .content th.col1{
	width: 130px;
}

.titulos-de-deuda .content td.col2,
.titulos-de-deuda .content th.col2{
	width: 130px;
}

.titulos-de-deuda .content td.col3,
.titulos-de-deuda .content th.col3{
	width: 130px;
}

.titulos-de-deuda .content td.col4,
.titulos-de-deuda .content th.col4{
	width: 140px;
}

.titulos-de-deuda .content td.col5,
.titulos-de-deuda .content th.col5{
	width: 200px;
}

.titulos-de-deuda .content td.col6,
.titulos-de-deuda .content th.col6{
	min-width: 120px;
}

.titulos-de-deuda .content tr{
	background: #f5f5f5;
}

.titulos-de-deuda .content tr.noColapsible,
.titulos-de-deuda .content tr.headerColapsible{
	background: #ececec;
}

.titulos-de-deuda .content tr.headerColapsible{
	cursor: pointer;
}

.titulos-de-deuda .content tr.headerColapsible.closed .last{
	background: url(./assets/sp-expandible-arrows-orange-close.png) 110px 14px no-repeat;
}

.titulos-de-deuda .content tr.headerColapsible.opened .last{
	background: url(./assets/sp-expandible-arrows-orange-open.png) 110px 14px no-repeat;
}

.titulos-de-deuda a.descargar{
	font-family: "din-medium";
	font-size: 13px;
	line-height: 20px;
	display: inline-block;
	background: url(./assets/ic_pdf_transparent.png) left top no-repeat;
	padding-left: 25px;
}