.subhome-notas .destacado {
	background: url("../../images/subhome-notas/header.jpg") center top no-repeat;
}

/*----------------- CONTENIDO ----------------*/


.subhome-notas .main-img-link{
	display: block;
}

.subhome-notas .main-img-link:hover .main-img p{
	text-decoration: underline;
}

.subhome-notas .main-img-link .main-img .overlay{
	background: rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.subhome-notas .main-img-link:hover .main-img .overlay{
	display: block;
}


