.home .destacado {
	background: url("../../images/home/header.jpg") center top no-repeat;
}

/*----------------- CONTENIDO ----------------*/

.home .principal-aside {
	display: none;
}

.home .form-home fieldset{
	border: none;
	padding: 0;
}

.home .form-home form{
	padding: 20px 10px;
	background: #f5f5f5;
}

.home .form-home legend{
	font: 14px/23px "din-black";
	text-transform: uppercase;
	padding-left: 22px;
	margin-bottom: 10px;
	background: url('../assets/ic-buscador-home-title.png') left no-repeat;
}

.home .form-home input[type=text]{
	display: block;
	width: 90%;
	border: 1px solid #dcdcdc;
	color: #aaa;
	height: 30px;
	padding: 0 2% 0 8%;
	background-color: #fff;
	margin-bottom: 10px;
}

.home .form-home input.partida{
	background-image: url('../assets/home-form-marker-a.png');
	background-position: 6px 6px;
	background-repeat: no-repeat;
}

.home .form-home input.destino{
	background-image: url('../assets/home-form-marker-b.png');
	background-position: 6px 6px;
	background-repeat: no-repeat;
}

.regiones-home .region-links {
	display: block;
	width: 100%;
	height: 100%;
}

.region-home.novedades {
	border-top: 3px solid #3792c7;
}

.region-home.novedades h3{
	color: #3792c7;
}

.region-home.rutas {
	border-top: 3px solid #e16f39;
}

.region-home.rutas h3{
	color: #e16f39;
}

.region-home.hospedaje {
	border-top: 3px solid #e47f50;
}

.region-home.hospedaje h3{
	color: #e47f50;
}

.region-home.regiones {
	border-top: 3px solid #c942b1;
}

.region-home.regiones h3{
	color: #c942b1;
}

.region-home.guias {
	border-top: 3px solid #4995ba;
}

.region-home.guias h3{
	color: #4995ba;
}

.regiones-home .main-img{
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}


.regiones-home .main-img .caption{
	background-color: rgba(0, 0, 0, 0.65);
	bottom: ;
	height: ;
	padding: 10px;
	bottom: -100%;
	left: 0;
	right: 0;
	position: absolute;
	-webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.regiones-home .region-links:hover .caption{
	bottom: 0;
}

.regiones-home .main-img .caption h3{
	font: 15px/18px "din-black";
	color: #fff;
	margin-bottom: 5px;
}

.regiones-home .main-img .caption span{
	font: 12px/15px "din-medium";
	color: #fff;
}

.regiones-home .row {
	padding: 15px 0;
}

.regiones-home h3{
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	font-family: "din-medium";
	margin-bottom: 5px;
}




/* section sliders votados*/
.home .buscados-votados {
	background: #eee;
	padding: 20px 20px;
	margin-top: 20px;
}

.buscados-votados h3 {
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
	font-family: "din-medium";
	margin-bottom: 8px;
	color: #292929;
}

.buscados-votados .link-container{
	display: block;
	width: 100%;
	height: 100%;
}

.home .owl-stage{
	background: #fff;
}

.home .main-item {
	position: relative;
	overflow: hidden;
}

.home .main-item .text-desc{
	float: right;
	width: 42%;
	padding: 10px 1%;
}

.home .main-item span.tag-home {
	display: inline-block;
}

.home .main-item span.tag-home{
	font: 18px/24px "din-black";
	padding-top: 40px;
}

.home .main-item span.tag-home.patagonia{
	background: url('../assets/ic-guia-patagonia.png') top left no-repeat;
	color: #01aef0;
}

.home .main-item span.tag-home.cuyo{
	background: url('../assets/ic-guia-cuyo.png') top left no-repeat;
	color: #aa2f34;
}

.home .main-item span.tag-home.buenos-aires{
	background: url('../assets/ic-guia-buenos-aires.png') top left no-repeat;
	color: #0a8166;
}

.home .main-item span.tag-home.litoral{
	background: url('../assets/ic-guia-litoral.png') top left no-repeat;
	color: #405e00;
}

.home .main-item span.tag-home.noroeste{
	background: url('../assets/ic-guia-noroeste.png') top left no-repeat;
	color: #942092;
}

.home .main-item img{
	display: block;
	width: 55%;
	float: left;
}

.home .buscados-votados .owl-controls {
	margin-top: 10px;
    width: 100%;
    display: block;
    text-align: center;
}
.home .buscados-votados .owl-controls .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d6d6d6;
    margin: 0 3px;
}
.home .buscados-votados .owl-controls .owl-dot.active {
    background: #373738;
}



/*links y app section*/

.sites-links {
	padding-top: 30px;
}

.sites-links img{
	display: block;
	width: 48%;
	float: left;
}

.sites-links .text-info{
	width: 48%;
	padding: 0 1%;
	float: right;
}

.sites-links .text-info h3{
	color: #292929;
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: "din-medium";
}

.sites-links .text-info p {
	color: #636363;
	font-family: "din-medium";
	font-size: 13px;
	line-height: 16px;
}

.sites-links .text-info a {
	padding: 0 25px;
	border-width: 2px;
	border-style: solid;
	display: inline-block;
	text-transform: uppercase;
	line-height: 36px;
	font-family: "din-black";
	background: #fff;
	-webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
   margin-top: 30px;
}

.sites-links .text-info a span {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 15px;
}

.sites-links .serviclub-block a {
	color: #45c3d3;
	border-color: #45c3d3;
}

.sites-links .serviclub-block a:hover {
	background: #45c3d3;
	color: #fff;
}

.sites-links .text-info a:hover span {
	background-image: url('../assets/ic-flecha-blanca.png');
}

.sites-links .serviclub-block a span {
	background-image: url('../assets/ic-flecha-celeste.png');
}

.sites-links .app-block a {
	color: #af4eba;
	border-color: #af4eba;
}

.sites-links .app-block a:hover {
	color: #fff;
	background: #af4eba;
}

.sites-links .app-block a span {
	background-image: url('../assets/ic-flecha-violeta.png');
}



@media (max-width: 991px) {
	.home .regiones-home .row {
		padding: 0;
	}
	
	.home .region-home,
	.form-home{
		margin-bottom: 30px;
	}

	.owl-carousel-home {
		margin-bottom: 20px;
	}

	.home .buscados-votados {
		background: #fff;
		margin-top: 0;
	}

	.home .main-item {
		padding-top: 20px;
	}

	.home .main-item span.tag-home{
		top: 0;
		left: 0;
		position: absolute;
		font: 12px/20px "din-black";
		padding-top: 0;
		padding-left: 5px;
		padding-right: 5px;
		text-transform: uppercase;
	}

	.home .main-item span.tag-home.patagonia{
		background: #01aef0 none;
		color: #fff;
	}

	.home .main-item span.tag-home.cuyo{
		background: #aa2f34 none;
		color: #fff;
	}

	.home .main-item span.tag-home.buenos-aires{
		background: #0a8166 none;
		color: #fff;
	}

	.home .main-item span.tag-home.litoral{
		background: #405e00 none;
		color: #fff;
	}

	.home .main-item span.tag-home.noroeste{
		background: #942092 none;
		color: #fff;
	}

	.sites-links img{
		width: 50%;
		float: none;
		margin: 0 auto 15px;
	}

	.sites-links .text-info{
		width: 100%;
		float: none;
		margin-bottom: 30px;
		text-align: center;
	}
}

@media (max-width: 1023px) {
	.home .principal-aside {
		display: block;
	}
}