.home .destacado {
	background: url("../../images/home/header.jpg") center top no-repeat;
}

/*----------------- CONTENIDO ----------------*/

.home .principal-aside{
	display: none;
}

.home .main-item{
	min-height: 220px;
}

.home .main-item span,
.home .main-item p{
	display: block;
	width: 38%;
	margin-left: 60%;
}

.home .main-item img{
	position: absolute;
	display: block;
	width: 60%;
	top: 0;
	height: auto
}



@media (max-width: 990px) {

	
}

@media (max-width: 1023px) {
	.home .principal-aside {
		display: block;
	}
}