.panoramica-argentina .destacado {
	background: url("../../images/panoramica-argentina/header.jpg") center top no-repeat;
}

/*----------------- CONTENIDO ----------------*/


.panoramica-argentina section.content .content-center {
	width: inherit;
}



@media (max-width: 420px) {
	.panoramica-argentina .main-img p {
		font-size: 16px;
		line-height: 20px;	
	}
	
}

