.nuestro-adn .destacado {
    background: url('../../images/nuestro-adn/header.jpg') center top no-repeat;
}

.nuestro-adn .img-gallery{
    margin-bottom: 20px;
}

.nuestro-adn .img-dest {
    width: 72%;
}

.nuestro-adn .img-sec {
    width: 26%;
}

.nuestro-adn .img-sec .main-img {
    margin-bottom: 17px;
}

.nuestro-adn .img-sec .main-img:last-child {
    margin-bottom: 0;
}



@media (max-width: 1200px) {
    .nuestro-adn .img-sec .main-img {
        margin-bottom: 14px;
    }

    .nuestro-adn .img-dest {
    width: 100%;
}
}